  <nb-card size="small" class="border-default">
    <nb-card-header>
      <div (click)="openDialog(dialogTwitterHashtag)">
          TWITTER Hashtags (100 last tweets)
      </div>
      <div class="help" [nbPopover]="twitterHashtagHelp" nbPopoverPlacement="bottom"><i class="far fa-question-circle"></i></div>
      <div [ngClass]="data.result[2].validation"><i class="far fa-check-circle"></i></div>
    </nb-card-header>
    <nb-card-body id="nbCardTwitterHashtag" style="text-align: center; overflow: hidden; margin: 0px; padding: 0px;">
        <div #nbCardTwitterHashtag>
          <ngx-text-cloud [data]="twitterHashtag"></ngx-text-cloud>
        </div>
    </nb-card-body>
  </nb-card>


  <ng-template #dialogTwitterHashtag let-data let-ref="dialogRef">
    <nb-card style="height: 600px; width: 700px; background-color: rgba(0, 0, 0, 0.8); padding: 0px;">
      <nb-card-header>TWITTER Hashtag (100 last tweets)</nb-card-header>
      <nb-card-body>

        <ngx-text-cloud [data]="twitterHashtag"></ngx-text-cloud>

      </nb-card-body>
    </nb-card>
  </ng-template>

  <ng-template #twitterHashtagHelp>
    <nb-card style="margin: 0px; max-width: 50rem;">
      <nb-card-header status="warning">
        TWITTER Hashtags Help
      </nb-card-header>
      <nb-card-body>
        <p><strong style="font-weight: 600;">Module</strong> : Twitter</p> 
        <p style="font-weight: 600;">Description</p> 
        <p style="text-align: justify;">
        This is a wordcloud with the hashtags of the last 100 tweets 
        </p>
        <p style="text-align: justify;">
        If a word is repeated its font-size increases
        </p>
        <p style="font-weight: 600;">Execution</p> 
        <p style="text-align: justify;">
        This module can be executed by entering a username in the <strong style="font-weight: 600;">twitter</strong> field of the advanced search, being its validation indicator high since it has been entered by the user
        </p> 
        <p style="text-align: justify;">
        It can also be executed if another module has found a twitter username (Fullcontact, Keybase, Searchs, PeopleDataLabs, etc). Its validation indicator will be medium since its discovery is indirect
        </p> 
        <p style="text-align: justify;">
        Finally, and with a low validation indicator, the module can be executed if a username was entered in the "username" field of the advanced search or if a mail was entered in the mail or advanced search. In this case the @domain.ext is cut out and the username is used as input
        </p> 
        <p style="font-weight: 600;">Source</p> 
        <p>Twitter API or Twint, depending on whether the Twitter API Key was entered</p> 
      </nb-card-body>
    </nb-card>
  </ng-template>
