  <nb-card size="small" class="border-default">

    <nb-card-header>
      <div (click)="openDialog(dialogLinkedinGraph)">
          LINKEDIN Graphs
      </div>
      <div class="help" [nbPopover]="linkedinGraphsHelp" nbPopoverPlacement="bottom"><i class="far fa-question-circle"></i></div>
      <div [ngClass]="data.result[2].validation"><i class="far fa-check-circle"></i></div>
    </nb-card-header>

    <nb-card-body id="nbCardLinkedinGraphs" #nbCardLinkedinGraphs style="text-align: center; overflow: hidden;">
        <ngx-graphs [data]="linkedinGraphs"></ngx-graphs>

        <!-- ERRORS -->
        <div nbTooltip="Linkedin user don't exist" nbTooltipStatus="success" style="position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto; width: 50%; height: 200px; z-index: 2;" *ngIf="status == 6">
            <i class="fas fa-user-times" style="font-size: 200px;"></i>
        </div>
        <div nbTooltip="iKy can't detect cookies!!! You will have to load them manually, by extracting the cookies named 'li_at' and 'JSESSIONID' from the browser and loading them in 'linkedin_li_at' and 'linkedin_JSESSIONID' accordingly. Please refer to https://gitlab.com/kennbroorg/iKy/-/wikis/APIs/ApiKeys-get#linkedin" nbTooltipStatus="danger" style="position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto; width: 50%; height: 200px; z-index: 2;" *ngIf="status == 5">
            <i class="fas fa-cookie-bite" style="font-size: 200px;"></i>
        </div>
        <div nbTooltip="The cookies in apikeys are wrong or expiredi. Reload them in apikeys section or file and try again" nbTooltipStatus="danger" style="position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto; width: 50%; height: 200px; z-index: 2;" *ngIf="status == 7">
            <i class="fas fa-cookie-bite" style="font-size: 200px;"></i>
        </div>
        <div nbTooltip="Linkedin module don't work" nbTooltipStatus="success" style="position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto; width: 50%; height: 200px; z-index: 2;" *ngIf="status == 10">
            <i class="fas fa-bug" style="font-size: 200px;"></i>
        </div>

    </nb-card-body>
  </nb-card>

  <ng-template #dialogLinkedinGraph let-data let-ref="dialogRef">
      <nb-card style="height: 600px; width: 700px; background-color: rgba(0, 0, 0, 0.8); padding: 0px;">
        <nb-card-header>LINKEDIN Graphs</nb-card-header>
        <nb-card-body style="overflow: hidden; padding: 0px;">
          <ngx-graphs [data]="linkedinGraphs" modal="true"></ngx-graphs>
        </nb-card-body>
      </nb-card>
  </ng-template>

  <ng-template #linkedinGraphsHelp>
    <nb-card style="margin: 0px; max-width: 50rem;">
      <nb-card-header status="warning">
        LINKEDIN Graphs Help
      </nb-card-header>
      <nb-card-body>
        <p><strong style="font-weight: 600;">Module</strong> : Linkedin</p> 
        <p style="font-weight: 600;">Description</p> 
        <p style="text-align: justify;">
        This graph shows in network nodes the basic information extracted, such as name, followers, ID, etc
        </p>
        <p style="font-weight: 600;">Execution</p> 
        <p style="text-align: justify;">
        This module can be executed by entering a username in the <strong style="font-weight: 600;">linkedin</strong> field of the advanced search, being its validation indicator high since it has been entered by the user
        </p> 
        <p style="text-align: justify;">
        It can also be executed if another module has found a linkedin username (Fullcontact, Keybase, Searchs, PeopleDataLabs, etc). Its validation indicator will be medium since its discovery is indirect
        </p> 
        <p style="text-align: justify;">
        Finally, and with a low validation indicator, the module can be executed if a username was entered in the "username" field of the advanced search or if a mail was entered in the mail or advanced search. In this case the @domain.ext is cut out and the username is used as input
        </p> 
        <p style="font-weight: 600;">Source</p> 
        <p>Scraping Linkedin API</p> 
      </nb-card-body>
    </nb-card>
  </ng-template>
