  <nb-card size="small" class="border-default">
    <nb-card-header>
      <div (click)="openDialog(dialogTwitterList)">
          TWITTER Tweets
      </div>
      <div class="help" [nbPopover]="twitterListHelp" nbPopoverPlacement="bottom"><i class="far fa-question-circle"></i></div>
      <div [ngClass]="data.result[2].validation"><i class="far fa-check-circle"></i></div>
    </nb-card-header>
    <nb-card-body style="margin: 0px; padding: 0px; text-align: center; overflow: hidden;margin-top: 10px;">

        <div #nbCardTwitterList id="nbCardTwitterList">
            <ngx-charts-line-chart
              [view]="[width, height - 60]"
              [scheme]="colorScheme"
              [legend]="legend"
              [legendPosition]="legendPosition"
              [showXAxisLabel]="showXAxisLabel"
              [showYAxisLabel]="showYAxisLabel"
              [xAxis]="xAxis"
              [yAxis]="yAxis"
              [xAxisLabel]="xAxisLabel"
              [yAxisLabel]="yAxisLabel"
              [timeline]="timeline"
              [results]="twitterList"
              >
            </ngx-charts-line-chart>
         </div>

    </nb-card-body>
  </nb-card>

  <ng-template #dialogTwitterList let-data let-ref="dialogRef">
    <nb-card [style.width]="width * 2" [style.height]="height * 2" style="background-color: rgba(0, 0, 0, 0.8);">
      <nb-card-header>TWITTER Tweets</nb-card-header>
      <nb-card-body style="overflow: hidden;">

        <div style="fill: #05fcfc !important; font-size: 35px !important;">
            <ngx-charts-line-chart
              [view]="[width * 1.8, height * 1.8]"
              [scheme]="colorScheme"
              [legend]="legend"
              [showXAxisLabel]="showXAxisLabel"
              [showYAxisLabel]="showYAxisLabel"
              [xAxis]="xAxis"
              [yAxis]="yAxis"
              [xAxisLabel]="xAxisLabel"
              [yAxisLabel]="yAxisLabel"
              [timeline]="timeline"
              [results]="twitterList"
              >
            </ngx-charts-line-chart>
        </div>

      </nb-card-body>
    </nb-card>
  </ng-template>

  <ng-template #twitterListHelp>
    <nb-card style="margin: 0px; max-width: 50rem;">
      <nb-card-header status="warning">
          TWITTER Tweets 
      </nb-card-header>
      <nb-card-body>
        <p><strong style="font-weight: 600;">Module</strong> : Twitter</p> 
        <p style="font-weight: 600;">Description</p> 
        <p style="text-align: justify;">
        This line chart shows for each of the last tweets its retweets, likes and replies
        </p>
        <p style="text-align: justify;">
        Through this graph you can see if the characteristics (retweets, likes and replies) are sustained and similar or some tweet stands out from the rest
        </p>
        <p style="font-weight: 600;">Execution</p> 
        <p style="text-align: justify;">
        This module can be executed by entering a username in the <strong style="font-weight: 600;">twitter</strong> field of the advanced search, being its validation indicator high since it has been entered by the user
        </p> 
        <p style="text-align: justify;">
        It can also be executed if another module has found a twitter username (Fullcontact, Keybase, Searchs, PeopleDataLabs, etc). Its validation indicator will be medium since its discovery is indirect
        </p> 
        <p style="text-align: justify;">
        Finally, and with a low validation indicator, the module can be executed if a username was entered in the "username" field of the advanced search or if a mail was entered in the mail or advanced search. In this case the @domain.ext is cut out and the username is used as input
        </p> 
        <p style="font-weight: 600;">Source</p> 
        <p>Twitter API or Twint, depending on whether the Twitter API Key was entered</p> 
      </nb-card-body>
    </nb-card>
  </ng-template>
