  <nb-card size="small" class="border-default">
    <nb-card-header (click)="openDialog(dialogFullcontactGraph)">
      FULLCONTACT Graphs
      <div [ngClass]="data.result[2].validation"><span class="icon validation"></span></div>
    </nb-card-header>
    <nb-card-body style="text-align: center; overflow: hidden;">
        <ngx-graphs [data]="fullcontactGraphs"></ngx-graphs>
        <div nbTooltip="No information found about the mail" nbTooltipStatus="success" style="position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto; width: 50%; height: 200px; z-index: 2;" *ngIf="statusFull == 404">
            <i class="fas fa-shield-alt" style="font-size: 200px;"></i>
        </div>
        <div nbTooltip="Please load Fullcontact API Key" nbTooltipStatus="danger" style="position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto; width: 50%; height: 150px; z-index: 2;" *ngIf="statusFull == 400">
            <i class="fas fa-key" style="font-size: 150px;"></i>
        </div>
        <div nbTooltip="The Fullcontact API Key is wrong" nbTooltipStatus="danger" style="position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto; width: 50%; height: 150px; z-index: 2;" *ngIf="statusFull == 401">
            <i class="fas fa-exclamation-circle" style="font-size: 150px;"></i>
        </div>
    </nb-card-body>
  </nb-card>

  <ng-template #dialogFullcontactGraph let-data let-ref="dialogRef">
      <nb-card style="height: 600px; width: 700px; background-color: rgba(0, 0, 0, 0.8); padding: 0px;">
        <nb-card-header>FULLCONTACT Graphs</nb-card-header>
        <nb-card-body style="overflow: hidden; padding: 0px;">
          <ngx-graphs [data]="fullcontactGraphs" modal="true"></ngx-graphs>
        </nb-card-body>
      </nb-card>
  </ng-template>
