  <nb-card size="small">
    <nb-card-header>
      <div (click)="openDialog(dialogTwitchTimeline)">
          TWITCH Timeline (videos)
      </div>
      <div class="help" [nbPopover]="twitchTimelineHelp" nbPopoverPlacement="bottom"><i class="far fa-question-circle"></i></div>
      <div [ngClass]="data.result[2].validation"><i class="far fa-check-circle"></i></div>
    </nb-card-header>
    <nb-card-body style="margin: 0px; padding: 0px; text-align: center; overflow: hidden;margin-top: 10px;">

        <div #nbCardTwitchTimeline id="nbCardTwitchTimeline">

            <ngx-charts-chart
              [view]="[width, height]"
              [showLegend]="false"
              [animations]="animations"
              class="timeline-filter-bar-chart"
            >
              <svg:g [attr.transform]="transform" class="chart">
                <svg:g
                  ngx-charts-x-axis
                  *ngIf="xAxis"
                  [xScale]="timeScale"
                  [dims]="dims"
                  [showLabel]="showXAxisLabel"
                  [labelText]="xAxisLabel"
                  (dimensionsChanged)="updateXAxisHeight($event)"
                ></svg:g>
                <svg:g
                  ngx-charts-y-axis
                  *ngIf="yAxis"
                  [yScale]="yScale"
                  [dims]="dims"
                  [showGridLines]="showGridLines"
                  [showLabel]="showYAxisLabel"
                  [labelText]="yAxisLabel"
                  (dimensionsChanged)="updateYAxisWidth($event)"
                ></svg:g>
                <svg:g
                  ngx-charts-series-vertical
                  [xScale]="xScale"
                  [yScale]="yScale"
                  [colors]="colors"
                  [series]="twitchTimeline"
                  [dims]="dims"
                  [gradient]="gradient"
                  [animations]="animations"
                  [noBarWhenZero]="noBarWhenZero"
                  tooltipDisabled="true"
                ></svg:g>
              </svg:g>

              <svg:g [attr.transform]="transform" class="timeline">
                <svg:filter [attr.id]="filterId">
                  <svg:feColorMatrix
                    in="SourceGraphic"
                    type="matrix"
                    values="0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0"
                  />
                </svg:filter>
                <svg:rect x="0" [attr.width]="dims.width" y="0" [attr.height]="dims.height" class="brush-background" />
                <svg:g class="brush"></svg:g>
              </svg:g>
            </ngx-charts-chart>
         </div>

    </nb-card-body>
  </nb-card>


  <ng-template #dialogTwitchTimeline let-data let-ref="dialogRef">
    <nb-card [style.width]="width * 2" [style.height]="height * 2" style="background-color: rgba(0, 0, 0, 0.8);">
      <nb-card-header>
          TWITCH Timeline (videos)
      </nb-card-header>
      <nb-card-body style="overflow: hidden;">

        <div style="fill: #05fcfc !important; font-size: 35px !important;">
            <ngx-charts-chart
              [view]="[width * 1.8, height * 1.8]"
              [showLegend]="false"
              [animations]="animations"
              class="timeline-filter-bar-chart"
            >
              <svg:g [attr.transform]="transform" class="chart">
                <svg:g
                  ngx-charts-x-axis
                  *ngIf="xAxis"
                  [xScale]="timeScale"
                  [dims]="dims"
                  [showLabel]="showXAxisLabel"
                  [labelText]="xAxisLabel"
                  (dimensionsChanged)="updateXAxisHeight($event)"
                ></svg:g>
                <svg:g
                  ngx-charts-y-axis
                  *ngIf="yAxis"
                  [yScale]="yScale"
                  [dims]="dims"
                  [showGridLines]="showGridLines"
                  [showLabel]="showYAxisLabel"
                  [labelText]="yAxisLabel"
                  (dimensionsChanged)="updateYAxisWidth($event)"
                ></svg:g>
                <svg:g
                  ngx-charts-series-vertical
                  [xScale]="xScale"
                  [yScale]="yScale"
                  [colors]="colors"
                  [series]="twitchTimeline"
                  [dims]="dims"
                  [gradient]="gradient"
                  [animations]="animations"
                  [noBarWhenZero]="noBarWhenZero"
                  tooltipDisabled="true"
                ></svg:g>
              </svg:g>

              <svg:g [attr.transform]="transform" class="timeline">
                <svg:filter [attr.id]="filterId">
                  <svg:feColorMatrix
                    in="SourceGraphic"
                    type="matrix"
                    values="0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0"
                  />
                </svg:filter>
                <svg:rect x="0" [attr.width]="dims.width" y="0" [attr.height]="dims.height" class="brush-background" />
                <svg:g class="brush"></svg:g>
              </svg:g>
            </ngx-charts-chart>
        </div>

      </nb-card-body>
    </nb-card>
  </ng-template>

  <ng-template #twitchTimelineHelp>
    <nb-card style="margin: 0px; max-width: 50rem;">
      <nb-card-header status="warning">
        TWITCH Timeline Help
      </nb-card-header>
      <nb-card-body>
        <p><strong style="font-weight: 600;">Module</strong> : Twitch</p> 
        <p style="font-weight: 600;">Description</p> 
        <p style="text-align: justify;">
        This bar graph shows the twitch videos scattered over time
        </p>
        <p style="text-align: justify;">
        This allows you to visualize how often the tweets are created
        </p>
        <p style="font-weight: 600;">Execution</p> 
        <p style="text-align: justify;">
        This module can be executed by entering a username in the <strong style="font-weight: 600;">twitch</strong> field of the advanced search, being its validation indicator high since it has been entered by the user
        </p> 
        <p style="text-align: justify;">
        It can also be executed if another module has found a twitch username (Fullcontact, Keybase, Searchs, PeopleDataLabs, etc). Its validation indicator will be medium since its discovery is indirect
        </p> 
        <p style="text-align: justify;">
        Finally, and with a low validation indicator, the module can be executed if a username was entered in the "username" field of the advanced search or if a mail was entered in the mail or advanced search. In this case the @domain.ext is cut out and the username is used as input
        </p> 
        <p style="font-weight: 600;">Source</p> 
        <p>Twitch API</p> 
      </nb-card-body>
    </nb-card>
  </ng-template>
