@import '../../../@theme/styles/themes';

@include nb-install-component() {
  button[nbTreeGridRowToggle] {
    background: transparent;
    border: none;
    padding: 0;
  }

  ::ng-deep .pending-color {
    text-align: center;
    .tag-tag {
      background-color: rgba(166, 166, 166, 0.5);
      border: solid 1px rgba(166, 166, 166, 1);
      color: black;
      font-weight: 500;
      text-align: center;
      margin: 5px;
      border-radius: 2px;
    }
  }

  ::ng-deep .process-color {
    text-align: center;
    .tag-tag {
      border: solid 1px rgba(0, 149, 255, 1);
      background-color: rgba(0, 149, 255, 0.5);
      color: black;
      font-weight: 500;
      text-align: center;
      margin: 5px;
      border-radius: 2px;
    }
  }

  ::ng-deep .success-color {
    text-align: center;
    .tag-tag {
      border: solid 1px rgba(0, 214, 143, 1);
      background-color: rgba(0, 214, 143, 0.5);
      color: black;
      font-weight: 500;
      text-align: center;
      margin: 5px;
      border-radius: 2px;
    }
  }

  ::ng-deep .failure-color {
    text-align: center;
    .tag-tag {
      background-color: rgba(255, 61, 113, 0.5);
      border: solid 1px rgba(255, 61, 113, 1);
      color: black;
      font-weight: 500;
      text-align: center;
      margin: 5px;
      border-radius: 2px;
    }
  }

  ::ng-deep .warning-color {
    text-align: center;
    .tag-tag {
      background-color: rgba(255, 201, 77, 0.5);
      border: solid 1px rgba(255, 201, 77, 1);
      color: black;
      font-weight: 500;
      text-align: center;
      margin: 5px;
      border-radius: 2px;
    }
  }

  /* Margins */
  ::ng-deep .datatable-body-cell {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  /* Headers */
  ::ng-deep .datatable-header-cell-template-wrap {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    font-weight: 300;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0px;
  }

  ::ng-deep .datatable-row-even {
    background-color: rgba(0, 0, 0, 0.1);
  }

  @media screen and (min-width: 400px) {
    .nb-column-name,
    .nb-column-size {
      width: 50%;
    }
  }

  @media screen and (min-width: 500px) {
    .nb-column-name,
    .nb-column-size,
    .nb-column-kind {
      width: 33.333%;
    }
  }

  @media screen and (min-width: 600px) {
    .nb-column-name {
      width: 31%;
    }
    .nb-column-size,
    .nb-column-kind,
    .nb-column-items {
      width: 23%;
    }
  }
}
