amqp==2.2.2
beautifulsoup4==4.6.0
billiard==3.5.0.3
bs4==0.0.1
celery==4.1.0
certifi==2017.11.5
cfscrape==1.9.5
chardet==3.0.4
click==6.7
Flask==0.12.4
Flask-Cors==3.0.3
httplib2==0.11.3
idna==2.6
itsdangerous==0.24
Jinja2==2.10
kombu==4.1.0
lxml==4.1.1
MarkupSafe==1.0
oauth2==1.9.0.post1
oauthlib==2.0.7
PySocks==1.6.8
pytz==2017.3
redis==2.10.6
requests==2.18.4
requests-oauthlib==0.8.0
six==1.11.0
tweepy==3.6.0
urllib3==1.22
vine==1.1.4
Werkzeug==0.14.1
