chardet==3.0.4
aiohttp==3.8.4
beautifulsoup4==4.9.3
httpx==0.24.1
Flask==2.1.2
celery==5.2.7
Flask-Cors==3.0.9
requests==2.27.0
bs4==0.0.1
cfscrape==2.1.1
tweepy==4.5.0
tweety-ns @ https://github.com/mahrtayyab/tweety/archive/main.zip
geopy==1.22.0
git+https://github.com/KennBro/yagooglesearch.git@origin/add-output-param#egg=yagooglesearch
socialscan==2.0.0
instaloader==4.9.6
requests-futures==1.0.0
torrequest
holehe==1.60.2
search-engine-parser==0.6.8
# git+https://github.com/KennBro/search-engine-parser.git@origin/KALI/2022.2#egg=search-engine-parser
fuzzywuzzy==0.18.0
redis==3.5.3
langdetect==1.0.8
# googletrans==3.0.0
TranslatorX==1.2
vaderSentiment==3.3.2
emailrep==0.0.4
stop_words
spotipy==2.16.1
twitch-python
parse
browser-cookie3
google-api-python-client==2.33.0
python-Levenshtein
requests_html
