aiohttp==3.11.14
beautifulsoup4==4.12.3
httpx[http2]==0.28.1
Flask==3.0.0
celery==5.4.0
Flask-Cors==4.0.0
requests==2.32.3
cfscrape==2.1.1
tweepy==4.14.0
tweety-ns @ https://github.com/mahrtayyab/tweety/archive/main.zip
geopy==2.4.1
git+https://github.com/KennBro/yagooglesearch.git@origin/add-output-param#egg=yagooglesearch
socialscan==2.0.0
instaloader==4.14.1
requests-futures==1.0.2
torrequest==0.1.0
holehe==1.61
search-engine-parser==0.6.8
# git+https://github.com/KennBro/search-engine-parser.git@origin/KALI/2022.2#egg=search-engine-parser
thefuzz==0.22.1
redis==5.2.1
langdetect==1.0.8
# googletrans==3.0.0
TranslatorX==1.2
vaderSentiment==3.3.2
emailrep==0.0.4
stop_words==2018.7.23
spotipy==2.24.0
twitch-python==0.0.20
parse==1.20.2
browser-cookie3==0.19.1
google-api-python-client==2.163.0
requests_html==0.10.0
fontawesome==5.10.1.post1
peopledatalabs==4.2.0
playwright==1.50.0
TikTokApi==6.3.0
