  <nb-card size="small" class="border-default">
    <nb-card-header (click)="openDialog(dialogEmailrepInfo)">
      EMAILREP Details
      <div [ngClass]="data.result[2].validation"><span class="icon validation"></span></div>
    </nb-card-header>
    <nb-card-body id="nbCardGraphs" #nbCardGraphs style="text-align: center; overflow: hidden;">
        <div nbTooltip="You need a KEY" nbTooltipStatus="danger" style="position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto; width: 50%; height: 200px; z-index: 2;" *ngIf="statusFull == 'KEY'">
            <i class="fas fa-key" style="font-size: 150px;"></i>
        </div>
        <ngx-graphs [data]="emailrepInfo"></ngx-graphs>
    </nb-card-body>
  </nb-card>

  <ng-template #dialogEmailrepInfo let-data let-ref="dialogRef">
      <nb-card style="height: 600px; width: 700px; background-color: rgba(0, 0, 0, 0.8); padding: 0px;">
        <nb-card-header>EMAILREP Details</nb-card-header>
        <nb-card-body style="overflow: hidden; padding: 0px;">
          <ngx-graphs [data]="emailrepInfo" modal="true"></ngx-graphs>
        </nb-card-body>
      </nb-card>
  </ng-template>
