  <nb-card size="small">
    <nb-card-header>
      <div (click)="openDialog(dialogInstagramWeek)">
          INSTAGRAM Week
      </div>
      <div class="help" [nbPopover]="instagramWeekHelp" nbPopoverPlacement="bottom"><i class="far fa-question-circle"></i></div>
      <div [ngClass]="data.result[2].validation"><i class="far fa-check-circle"></i></div>
    </nb-card-header>
    <nb-card-body style="margin: 0px; padding: 0px; text-align: center; overflow: hidden;">

        <div #nbCardInstagramWeek id="nbCardInstagramWeek">
            <ngx-charts-bar-vertical
              [view]="[width, height - 50]"
              [scheme]="colorScheme"
              [results]="instagramWeek"
              showDataLabel="true"
              xAxis="true"
              yAxis="true"
            >
            </ngx-charts-bar-vertical>
         </div>

    </nb-card-body>
  </nb-card>

  <ng-template #dialogInstagramWeek let-data let-ref="dialogRef">
    <nb-card [style.width]="width * 2" [style.height]="height * 2" style="background-color: rgba(0, 0, 0, 0.8);">
      <nb-card-header>INSTAGRAM Week</nb-card-header>
      <nb-card-body style="overflow: hidden;">

        <div style="fill: #05fcfc !important; font-size: 35px !important;">
            <ngx-charts-bar-vertical
              [view]="[width * 1.8, height * 1.8]"
              [scheme]="colorScheme"
              [results]="instagramWeek"
              showDataLabel="true"
              xAxis="true"
              yAxis="true">
            </ngx-charts-bar-vertical>
        </div>

      </nb-card-body>
    </nb-card>
  </ng-template>

  <ng-template #instagramWeekHelp>
    <nb-card style="margin: 0px; max-width: 50rem;">
      <nb-card-header status="warning">
        INSTAGRAM Week Help
      </nb-card-header>
      <nb-card-body>
        <p><strong style="font-weight: 600;">Module</strong> : Instagram</p> 
        <p style="font-weight: 600;">Description</p> 
        <p style="text-align: justify;">
        This window shows the weekly dispersion of the last posts.
        </p>
        <p style="font-weight: 600;">Execution</p> 
        <p style="text-align: justify;">
        This module can be executed by entering a username in the <strong style="font-weight: 600;">instagram</strong> field of the advanced search, being its validation indicator high since it has been entered by the user
        </p> 
        <p style="text-align: justify;">
        It can also be executed if another module has found a instagram username (Fullcontact, Keybase, Searchs, PeopleDataLabs, etc). Its validation indicator will be medium since its discovery is indirect
        </p> 
        <p style="text-align: justify;">
        Finally, and with a low validation indicator, the module can be executed if a username was entered in the "username" field of the advanced search or if a mail was entered in the mail or advanced search. In this case the @domain.ext is cut out and the username is used as input
        </p> 
        <p style="font-weight: 600;">Source</p> 
        <p>Public Requests</p> 
      </nb-card-body>
    </nb-card>
  </ng-template>