  <nb-card size="small" class="border-default">
    <nb-card-header (click)="openDialog(dialogTwitterUsers)">
      TWITTER Mentions
      <div [ngClass]="data.result[2].validation"><span class="icon validation"></span></div>
    </nb-card-header>
    <nb-card-body id="nbCardTwitterUsers" #nbCardTwitterUsers style="text-align: center; overflow: hidden; margin: 0px; padding: 0px;">
        <ngx-simple-graphs [data]="twitterUsers"></ngx-simple-graphs>
    </nb-card-body>
  </nb-card>


  <ng-template #dialogTwitterUsers let-data let-ref="dialogRef">
    <nb-card style="height: 600px; width: 700px; background-color: rgba(0, 0, 0, 0.8); padding: 0px;">
      <nb-card-header>TWITTER Mentions</nb-card-header>
      <nb-card-body style="overflow: hidden; padding: 0px;">

          <ngx-simple-graphs [data]="twitterUsers" modal="true"></ngx-simple-graphs>

      </nb-card-body>
    </nb-card>
  </ng-template>
