// @nebular theming framework
@import '~@nebular/theme/styles/theming';
// @nebular out of the box themes
@import '~@nebular/theme/styles/themes';
// New font
@import '../../../assets/font/fonts.scss';

$nb-themes: nb-register-theme((
  layout-padding-top: 2.25rem,
), default, default);

$nb-themes: nb-register-theme((
  layout-padding-top: 2.25rem,
), corporate, corporate);

$nb-themes: nb-register-theme((
  layout-padding-top: 2.25rem,
), cosmic, cosmic);

$nb-themes: nb-register-theme((
  layout-padding-top: 2.25rem,
), dark, dark);

$nb-themes: nb-register-theme((
  layout-padding-top: 2.25rem,

  layout-background-color: rgba(0, 0, 0, 0.5),
  header-background-color: rgba(0, 0, 0, 0.5),
  footer-background-color: rgba(0, 0, 0, 0.5),

  card-background-color: rgba(0, 0, 0, 0.5),
  shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.6),
  background-basic-color-1: rgba(0, 0, 0, 0.5),

  text-basic-color: #05fcfc,

  sidebar-height: 85vh,
  sidebar-header-height: initial,
  sidebar-menu-item-highlight-color: #4e41a5,
  sidebar-shadow: 0 0 0 0 rgba(0, 0, 0, 0.6),
  
  menu-item-icon-color: #05fcfc,
  menu-item-hover-text-color: rgba(5, 252, 252, 0.8),
  menu-item-hover-background-color: rgba(0, 0, 0, 0.1),
  menu-item-icon-hover-color: rgba(5, 252, 252, 0.8),
  menu-item-active-background-color: rgba(0, 0, 0, 0.3),
  menu-item-icon-margin: 0 0.5rem 0 0,
  menu-item-divider-width: 0px,
  menu-text-font-family: Roboto,
  menu-text-font-size: 15px,
  menu-text-font-weight: 400,
  menu-item-padding: 0.1rem 2rem,
  menu-item-icon-width: 1rem,

  scrollbar-background-color: rgba(0, 0, 0, 0.5),
  scrollbar-color: rgba(0, 0, 0, 0.8),

  font-family-primary: Roboto,
  font-family-secondary: Roboto,
  text-heading-1-font-family: Roboto,
  text-button-font-family: Roboto,
  text-paragraph-font-family: Roboto,

  color-primary-default: #00f9a6,
  color-primary-focus: #00f9a6,
  color-primary-hover: #00b377,
  color-primary-active: #00f9a6,

  search-info-text-font-weight: 300,
  search-text-font-weight: 300,
  search-placeholder-text-color: #00f9a6,
  search-info-text-color: #00f9a6,
  search-background-color: rgba(0, 0, 0, 0.5),
  search-extra-background-color: rgba(0, 0, 0, 0.5),
  search-divider-color: #016565,
  layout-window-mode-background-color: #013232,

  actions-text-font-weight: 300,
  text-subtitle-font-weight: 300,
  // divider-color: rgba(0, 249, 166, 0.5),
  divider-color: rgba(5, 252, 252, 0.3),

  tabset-tab-text-font-weight: 300,

  user-picture-box-background-color: rgba(0, 249, 166, 0.5),
  user-picture-box-border-color: #00f9a6,
  user-initials-text-color: rgba(0, 0, 0, 0.8),
  user-title-text-font-weight: 300,
  user-name-text-font-weight: 300,
  text-paragraph-font-size: 1rem,
  user-name-text-font-size: 1rem,

  tooltip-primary-background-color: rgba(5, 252, 252, 0.8), 
  tooltip-primary-border-color:  rgba(5, 252, 252, 1),
  tooltip-primary-text-color: black,
  tooltip-text-font-weight: 300,
  tooltip-danger-text-color: black,
  tooltip-success-text-color: black,
  tooltip-warning-text-color: black,

  toastr-danger-background-color: rgba(255, 61, 113, 0.5),
  toastr-danger-text-color: black,
  toastr-success-background-color: rgba(0, 214, 143, 0.5),
  toastr-success-text-color: black,
  toastr-info-background-color: rgba(0, 149, 255, 0.5),
  toastr-info-text-color: black,

  text-paragraph-font-weight: 300,

  accordion-header-border-color: rgba(5, 252, 252, 0.5), 
  accordion-header-text-font-size: 15px,
  accordion-header-text-font-weight: 400,
  accordion-header-text-font-family: Roboto,
  accordion-header-text-line-height: 1.5rem,

), iKy, cosmic);

