  <nb-card size="small" class="border-default">
    <nb-card-header (click)="openDialog(dialogTwitterPopularity)">
      TWITTER Popularity
      <div [ngClass]="data.result[2].validation"><span class="icon validation"></span></div>
    </nb-card-header>
    <nb-card-body style="margin: 0px; padding: 0px; text-align: center; overflow: hidden;">

        <div #nbCardTwitterPopularity id="nbCardTwitterPopularity">
            <ngx-charts-pie-chart
              [view]="[width, height]"
              [doughnut]="true"
              [arcWidth]="0.5"
              [scheme]="colorScheme"
              [results]="twitterPopularity"
              [labels]="showLabels">
            </ngx-charts-pie-chart>
         </div>

    </nb-card-body>
  </nb-card>


  <ng-template #dialogTwitterPopularity let-data let-ref="dialogRef">
    <nb-card [style.width]="width * 2" [style.height]="height * 2" style="background-color: rgba(0, 0, 0, 0.8);">
      <nb-card-header>TWITTER Popularity</nb-card-header>
      <nb-card-body style="overflow: hidden;">

        <div style="fill: #05fcfc !important; font-size: 35px !important;">
            <ngx-charts-pie-chart
              [view]="[width * 1.8, height * 1.8]"
              [doughnut]="true"
              [arcWidth]="0.5"
              [scheme]="colorScheme"
              [results]="twitterPopularity"
              [labels]="showLabels">
            </ngx-charts-pie-chart>
        </div>

      </nb-card-body>
    </nb-card>
  </ng-template>
