<div class="row">
  
  <div class="col-md-12" *ngIf="!email && !gathered['tasklist']">
    <nb-card>
      <nb-card-body>
        <button nbButton outline status="info" (click)="searchService.activateSearch()">
            <i style="font-size: 25px;" class="nb-search"></i>
        </button>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-12"  *ngIf="!email && !gathered['tasklist']">
    <nb-card size="medium" class="border-default">
      <nb-card-body>
        <div class="picture"></div>

        <div class="details">
          <div class="title">
            Gathering information
          </div>
          <div class="description">
              To collect information it is necessary to enter an e-mail address in the search window that can be activated from the magnifying glass present in the button above or from the magnifying glass located in the upper right corner.
          </div>
        </div>
      </nb-card-body>
      <nb-card-footer>
      </nb-card-footer>
    </nb-card>
  </div>

  <div class="col-xxxl-12 col-xxl-12 col-md-12" *ngIf="photo?.length > 0">
    <ngx-profile-photos [data]="photo"></ngx-profile-photos>
  </div>

  <div class="col-xxxl-12 col-xxl-12 col-md-12" *ngIf="name?.length > 0"> <!-- put more complex condition -->
    <ngx-profile-data [name]="name" [location]="location" [organization]="organization"></ngx-profile-data>
  </div>

  <div class="col-xxxl-12 col-xxl-12 col-md-12" *ngIf="social?.length > 0">
    <ngx-profile-social [social]="social"></ngx-profile-social>
  </div>

</div>
