<div class="row-fluid" ng-hide="profile"> 
  <div class="col-lg-12 col-sm-12 col-xs-12">
    <div ba-panel ba-panel-tittle="No profile" ba-panel-class="black-panel"> 
      <div class="banner">
        <div class="large-banner-wrapper" style="padding-top:20px;">
          <img ng-src="assets/img/app/no-info.png" alt=""/>
        </div>
        <div class="banner-text-wrapper">
          <div class="banner-text">
            <h1>No profile</h1>

            <p>There is no profile to show</p>

          </div>
        </div>
      </div>
    </div>
  </div>
</div> 

<div ba-panel ba-panel-class="profile-page black-panel" ng-show="profile">

    <h3 class="with-line">General Information</h3>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label for="inputFirstName" class="col-sm-3 control-label">Pictures</label>
        </div>
      </div>
    </div>

    <div class="row clearfix">
      <div ng-repeat="item in smartProfile.photos">
          <div class="col-md-3 col-lg-3 centered userpic">
            <div class="userpic-wrapper">
              <img ng-src="{{ item.picture }}">
            </div>
            <a href class="change-userpic" >{{item.title}}</a>
          </div>
      </div>
    </div>


    <!--
    <div class="userpic row clearfix">
      <div class="col-md-3 col-sm-4" ng-repeat="item in smartProfile.photos">
          <div class="userpic-wrapper">
            <img ng-src="{{ item.picture }}">
          </div>
      </div>
    </div>
    -->


    <h3 class="with-line"></h3>

    <div class="row">
      <div class="col-md-6">
        <div ng-show="smartProfile.name" class="form-group row clearfix">
          <label for="inputFirstName" class="col-sm-3 control-label">Name</label>

          <div class="col-sm-9">
              <input disabled type="text" class="form-control" id="inputFirstName" placeholder="First name" value={{smartProfile.name}}>
          </div>
        </div>
        <div ng-show="smartProfile.gender" class="form-group row clearfix">
          <label for="inputLastName" class="col-sm-3 control-label">Gender</label>

          <div class="col-sm-9">
              <input disabled type="text" class="form-control" id="inputLastName" placeholder="Gender" value={{smartProfile.gender}}>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div ng-show="smartProfile.location" class="form-group row clearfix">
          <label class="col-sm-3 control-label">Location</label>

          <div class="col-sm-9">
              <input disabled type="text" class="form-control" id="inputLocation" placeholder="Location" value={{smartProfile.location}}>
          </div>
        </div>

        <div ng-show="profile.organization" class="form-group row clearfix">
          <label for="inputOrganization" class="col-sm-3 control-label">Organization</label>

          <div class="col-sm-9">
              <input disabled type="text" class="form-control" id="inputOrganization" placeholder="Organization" value={{profile.organization}}>
          </div>
        </div>
      </div>
    </div>

    <!--
    <h3 class="with-line">Contact Information</h3>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label for="inputEmail3" class="col-sm-3 control-label">Email</label>

          <div class="col-sm-9">
            <input disabled type="email" class="form-control" id="inputEmail3" placeholder="" value="contact@akveo.com">
          </div>
        </div>
        <div class="form-group row clearfix">
          <label for="inputPhone" class="col-sm-3 control-label">Phone</label>

          <div class="col-sm-9">
            <input disabled type="text" class="form-control" id="inputPhone" placeholder="" value="+1 (23) 456 7890">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label class="col-sm-3 control-label">Address</label>

          <div class="col-sm-9">
            <input type="text" class="form-control" id="inputAddress" placeholder="" value="">
          </div>
        </div>


        <div class="form-group row clearfix">
          <label for="inputOccupation" class="col-sm-3 control-label">Occupation</label>

          <div class="col-sm-9">
            <input disabled type="text" class="form-control" id="inputOccupation" placeholder="" value="Front End Web Developer">
          </div>
        </div>

      </div>
    </div>
    -->

    <h3 class="with-line">Social Profiles</h3>

    <div class="social-profiles row clearfix">
        <!-- <div class="col-md-3 col-sm-4" ng-repeat="item in socialProfiles"> -->
      <div class="col-md-3 col-sm-4" ng-repeat="item in smartProfile.social">
        <a class="sn-link connected" href="{{ item.url }}" target="_blank" >
          <i class="socicon {{ item.icon }}"></i>
          <span>{{ item.name }}</span>
        </a>
      </div>
    </div>

  </div>
</div>
