  <nb-card size="small" class="border-default">
    <nb-card-header>
      TWITTER Resume
      <div [ngClass]="data.result[2].validation"><span class="icon validation"></span></div>
    </nb-card-header>
    <nb-card-body style="margin: 0px; padding: 0px; text-align: center; overflow: hidden;">

        <div #nbCardTwitterResume>
            <ngx-charts-tree-map
              [view]="[width, height]"
              [scheme]="colorScheme"
              [results]="twitterResume">
            </ngx-charts-tree-map>
        </div>

    </nb-card-body>
  </nb-card>
