    <div class="row">
      <div class="col-md-12">
        <nb-card size="large" class="border-default">
          <nb-card-body style="overflow:hidden;"> 
              <!-- <nb-card-body> -->
            <div id="cardLogo" style="text-align: center;" #cardLogo>
              <img style="margin: 0 auto;" src="assets/images/iKy-Logo.png">
              <canvas style="position: absolute; top:0; bottom:0; left:0; right:0; margin: auto;" #canvasLogo></canvas> 
            </div>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
