  <nb-card size="small" class="border-default">
    <nb-card-header (click)="openDialog(dialogSocialscanUser)">
      SOCIALSCAN User
      <div [ngClass]="data.result[2].validation"><span class="icon validation"></span></div>
    </nb-card-header>
    <nb-card-body style="text-align: center; overflow: hidden;">
        <ngx-graphs [data]="socialscanUser"></ngx-graphs>
    </nb-card-body>
  </nb-card>

  <ng-template #dialogSocialscanUser let-data let-ref="dialogRef">
      <nb-card style="height: 600px; width: 700px; background-color: rgba(0, 0, 0, 0.8); padding: 0px;">
        <nb-card-header>SOCIALSCAN User</nb-card-header>
        <nb-card-body style="overflow: hidden; padding: 0px;">
          <ngx-graphs [data]="socialscanUser" modal="true"></ngx-graphs>
        </nb-card-body>
      </nb-card>
  </ng-template>
