.panel.panel-blur.black-panel{
  background: rgba(0,0,0,0.5);
}
.wday{
  font-size:9px;
  fill:#e6e6e6;
}
.month{
  font-size:10px;
  fill:#e6e6e6;
}

.soup-title {
  font-size: 40px;
}

.soup-desc {
  font-size: 20px;
}

#soup-parent {
  width: 100%;
  height: 100%;
  background-color: #EEE;
  color: green;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  border: 5px solid green;
}

#soup-container {
  width: 100%;
  height: 100%;
  min-width: 320px;
  min-height: 480px;
  position: relative;
  border: 5px solid red;
}

.letters-wrap {
  position: absolute;
  overflow: visible;
  display: inline-block;
}
.letters-wrap.mutable {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 5px solid blue;
}
.letters-wrap.mutable .letter {
  position: absolute;
  left: 0;
  top: 0;
  transition: left 2s, top 2s, color 2s;
  color: red;
  border: 5px solid purple;
}
.letters-wrap.mutable .letter.active {
  color: red;
  z-index: 9001;
}
.letters-wrap.position-data {
  top: 50%;
  left: 50%;
  /*opacity: 0.1;*/
  visibility: hidden;
  transform: translate(-50%, -50%);
  border: 5px solid grey;
}

#segments {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.letter {
  /*display: inline-block;*/
  color: red;
}

.tag {
  text-transform: lowercase;
  font-size: 11px;
  font-weight: $font-light;
  width: 80px;
  /* cursor: pointer; */
  display: inline-block;
  &.label {
    /* padding-bottom: 100px;
    margin-bottom: 10px; */
    border-radius: 2px;
    line-height: 1.1;
  }
  &.work {
    background-color: $primary;
    color: black;
  }

  &.soft {
    background-color: $warning;
    color: black;
  }

  &.hard {
    background-color: $success;
    color: black;
  }

  &.no {
    background-color: $danger;
    color: black;
  }
}

/* GitHub Calendar */
.contrib-legend {
    float: right;
}

.contrib-legend .legend {
    /* align-items: center;
    position: relative; */
    bottom: -1px;
    display: inline-block;
    list-style: none;
    list-style-type: none;
    list-style-position: initial;
    list-style-image: initial;
    /* margin: 0 5px; */
    margin: 0px;
    padding: 5px;
    position: relative;
}

.contrib-legend .legend li {
    display: inline-block;
    height: 10px;
    width: 10px;
}

h2.f4 {
    font-size: 12px;
}

#git-cal-1 {
    margin: 0px;
    padding: 0px;
}

#git-cal-2 {
    margin: 0px;
    padding: 0px;
}

.float-left {
    visibility: hidden;
}

/*
.day {
    fill: blue !important;
}
*/
