<form>
  <div class="form-group">
    <label for="inputEmailAddress">Email address</label>
    <input type="email" class="form-control" id="inputEmailAddress" placeholder="Email" ng-model="$parent.emailAddress"> 
  </div>

  <button type="submit" class="btn btn-primary btn-with-icon" ng-click="showInfo($parent.emailAddress)" ><i class="ion-ios-eye"></i>Gather info</button>

  <div class="progress" style="height: 3px">
    <div class="progress-bar active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%; height: 3px; background-color: #209E91;">
      <span class="sr-only">40% Complete (success)</span>
    </div>
  </div>

</form>
