  <nb-card size="small" class="border-default">

    <!--<nb-card-header (click)="openDialog(dialogTiktokGraph)">-->
      <!--TIKTOK Graphs-->
      <!--<div [ngClass]="data.result[2].validation"><span class="icon validation"></span></div>-->
    <!--</nb-card-header>-->
    <nb-card-header>
      <div (click)="openDialog(dialogTiktokGraph)">
          TIKTOK Graphs
      </div>
      <div class="help" [nbPopover]="tiktokGraphsHelp" nbPopoverPlacement="bottom"><i class="far fa-circle"></i></div>
      <div [ngClass]="data.result[2].validation"><i class="far fa-check-circle"></i></div>
    </nb-card-header>

    <nb-card-body id="nbCardGraphs" #nbCardGraphs style="text-align: center; overflow: hidden;">
        <!--<div nbTooltip="The profile does not exist or an error happened" nbTooltipStatus="danger" style="position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto; width: 50%; height: 150px; z-index: 2;" *ngIf="statusFull == 'Fail'">-->
            <!--<i class="far fa-times-circle" style="font-size: 150px;"></i>-->
        <!--</div>-->
        <ngx-graphs [data]="tiktokGraphs"></ngx-graphs>

        <!-- ERRORS -->
        <div nbTooltip="Tiktok user don't exist" nbTooltipStatus="success" style="position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto; width: 50%; height: 200px; z-index: 2;" *ngIf="status == 5">
            <i class="fas fa-user-times" style="font-size: 200px;"></i>
        </div>
        <div nbTooltip="Tiktok module don't work" nbTooltipStatus="success" style="position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto; width: 50%; height: 200px; z-index: 2;" *ngIf="status == 10">
            <i class="fas fa-bug" style="font-size: 200px;"></i>
        </div>

    </nb-card-body>
  </nb-card>

  <ng-template #dialogTiktokGraph let-data let-ref="dialogRef">
      <nb-card style="height: 600px; width: 700px; background-color: rgba(0, 0, 0, 0.8); padding: 0px;">
        <nb-card-header>TIKTOK Graphs</nb-card-header>
        <nb-card-body style="overflow: hidden; padding: 0px;">
          <ngx-graphs [data]="tiktokGraphs" modal="true"></ngx-graphs>
        </nb-card-body>
      </nb-card>
  </ng-template>

  <ng-template #tiktokGraphsHelp>
    <nb-card style="margin: 0px; max-width: 50rem;">
      <nb-card-header status="warning">
        TIKTOK Graphs Help
      </nb-card-header>
      <nb-card-body>
        <p><strong style="font-weight: 600;">Module</strong> : Tiktok</p> 
        <p style="font-weight: 600;">Description</p> 
        <p style="text-align: justify;">
        This graph shows in network nodes the basic information extracted, such as name, followers, ID, etc
        </p>
        <p style="font-weight: 600;">Execution</p> 
        <p style="text-align: justify;">
        This module can be executed by entering a username in the <strong style="font-weight: 600;">tiktok</strong> field of the advanced search, being its validation indicator high since it has been entered by the user
        </p> 
        <p style="text-align: justify;">
        It can also be executed if another module has found a tiktok username (Fullcontact, Keybase, Searchs, PeopleDataLabs, etc). Its validation indicator will be medium since its discovery is indirect
        </p> 
        <p style="text-align: justify;">
        Finally, and with a low validation indicator, the module can be executed if a username was entered in the "username" field of the advanced search or if a mail was entered in the mail or advanced search. In this case the @domain.ext is cut out and the username is used as input
        </p> 
        <p style="font-weight: 600;">Source</p> 
        <p>Simple scraping Tiktok</p> 
      </nb-card-body>
    </nb-card>
  </ng-template>
