  <nb-card size="small" class="border-default">
    <nb-card-header (click)="openDialog(dialogTwitterHashtag)">
      TWITTER Hashtags
      <div [ngClass]="data.result[2].validation"><span class="icon validation"></span></div>
    </nb-card-header>
    <nb-card-body id="nbCardTwitterHashtag" style="text-align: center; overflow: hidden; margin: 0px; padding: 0px;">
        <div #nbCardTwitterHashtag>
          <ngx-text-cloud [data]="twitterHashtag"></ngx-text-cloud>
        </div>
    </nb-card-body>
  </nb-card>


  <ng-template #dialogTwitterHashtag let-data let-ref="dialogRef">
    <nb-card style="height: 600px; width: 700px; background-color: rgba(0, 0, 0, 0.8); padding: 0px;">
      <nb-card-header>TWITTER Hashtag</nb-card-header>
      <nb-card-body>

        <ngx-text-cloud [data]="twitterHashtag"></ngx-text-cloud>

      </nb-card-body>
    </nb-card>
  </ng-template>
