<nb-flip-card [showToggleButton]="false" [flipped]="flipped">
  <nb-card-front>

    <nb-card size="xsmall" style="background-color: rgba(0, 0, 0, 0); box-shadow: none;" *ngIf="!gathered['email']">
      <div class="row">
      
        <!-- Principal Search -->
        <div class="col-md-4 offset-md-4">
          <nb-card>
            <nb-card-body>
              <button nbButton outline status="success" (click)="searchService.activateSearch()" style="border: none; font-weight: 400;">
                  <i class="fas fa-search" style="padding-right: 5px"></i> SEARCH 
              </button>
            </nb-card-body>
          </nb-card>
        </div>

        <div class="col-md-4 offset-md-4">
          <nb-card size="medium" class="border-default" id="centralInfo">
            <nb-card-body>
              <div>
                  <img style="position:absolute; width: 40%; top: 0; left:0; right: 0; bottom: 0;  margin:auto;" src="assets/images/iKy-Logo.png"> 
              </div>

            </nb-card-body>
            <nb-card-footer style="border-top: 0px;">
              <div class="details">
                <div class="title">
                  Gathering information
                </div>
                <div class="description">
                    To collect information it is necessary to enter an e-mail address in the search window that can be activated from the magnifying glass present in the button above, below or from the magnifying glass located in the upper right corner.
                </div>
              </div>
            </nb-card-footer>
          </nb-card>
        </div>

        <!-- Advanced Search -->
        <div class="col-md-4 offset-md-4">
          <nb-card>
            <nb-card-body>
              <button nbButton outline status="success" (click)="toggleFlipView()" style="border: none; font-weight: 400;">
                  <i class="fab fa-searchengin" style="padding-right: 5px;"></i> ADVANCE SEARCH 
              </button>
            </nb-card-body>
          </nb-card>
        </div>


      </div>
    </nb-card>

    <!-- <nb-card size="xsmall" style="background-color: rgba(0, 0, 0, 0); box-shadow: none;" *ngIf="gathered && gathered['email'] && jsonLength(gathered) > 3"> -->
    <nb-card style="background-color: rgba(0, 0, 0, 0); box-shadow: none;" *ngIf="gathered && gathered['email'] && jsonLength(gathered) > 4">
        <div class="row" id="pageGather" #pageGather>
        <!-- <div class="row" id="pageGather" #pageGather [nbSpinner]="processing" nbSpinnerStatus="info" nbSpinnerSize="xxlarge"> -->

          <div class="col-md-12" *ngIf="gathered && gathered['email'] && jsonLength(gathered) > 4">
            <nb-card>
              <nb-card-body>
            
                <nb-actions size="large" fullWidth [nbSpinner]="processing" nbSpinnerStatus="secondary" nbSpinnerSize="xxsmall" nbSpinnerMessage="">
                  <nb-action nbTooltip="Search information" nbTooltipPlacement="top" nbTooltipStatus="primary" >
                      <i (click)="searchService.activateSearch()" class="fas fa-search" style="font-size: 14px;"></i><span (click)="searchService.activateSearch()">Search&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span><i (click)="toggleFlipView()" class="fab fa-searchengin" style="font-size: 16px;"></i><span (click)="toggleFlipView()">Advance</span>
                  </nb-action>
                  <!-- <nb-action (click)="generateAllPdf()" nbTooltip="Generate report" nbTooltipPlacement="top" nbTooltipStatus="default"> -->
                  <nb-action disabled nbTooltip="Generate report" nbTooltipPlacement="top" nbTooltipStatus="primary" style="color: rgba(5, 252, 252, 0.2)">
                    <i class="fas fa-file-alt" style="font-size: 14px; color: rgba(5, 252,252, 0.2);"></i><span style="color: rgba(5, 252,252, 0.2);">Report</span>
                  </nb-action>
                  <nb-action (click)="generateDownloadJsonUri()" nbTooltip="Download raw JSON" nbTooltipPlacement="top" nbTooltipStatus="primary">
                    <i class="fas fa-download" style="font-size: 14px;"></i><span>Json</span>
                  </nb-action>

                  <nb-action>
                    <div>Validation : </div>
                    <div class="validation-menu" (click)="validationShow['hard'] = !validationShow['hard']"><span  nbTooltip="Hard validation" nbTooltipPlacement="bottom" nbTooltipStatus="success" class="icon validation-hard" (click)="onH = !onH" [style.color]="!onH ? '#004d1a' : 'green'"></span></div>
                    <div class="validation-menu" (click)="validationShow['soft'] = !validationShow['soft']"><span nbTooltip="Soft validation" nbTooltipPlacement="top" nbTooltipStatus="warning" class="icon validation-soft" (click)="onS = !onS" [style.color]="!onS ? '#4d3d00' : '#ffcc00'"></span></div>
                    <div class="validation-menu" (click)="validationShow['no'] = !validationShow['no']"><span nbTooltip="No validation" nbTooltipPlacement="bottom" nbTooltipStatus="danger" class="icon validation-no" (click)="onN = !onN" [style.color]="!onN ? '#4d0000' : '#cc0000'"></span></div>
                  </nb-action>

                </nb-actions>
            
              </nb-card-body>
            </nb-card>
          </div>

          <div class="col-md-12" *ngIf="gathered && gathered['taskexec']">
              <ngx-taskexec [dataTask]="gathered['taskexec']" [TaskPP]="gathered['taskresume'][0].PP" [TaskPS]="gathered['taskresume'][0].PS"></ngx-taskexec>
          </div>

          <!-- Principal Search
          <div class="col-md-12" *ngIf="!email && !gathered['tasklist']">
            <nb-card>
              <nb-card-body>
                <button nbButton outline status="success" (click)="searchService.activateSearch()">
                    <i style="font-size: 25px;" class="nb-search"></i>
                </button>
              </nb-card-body>
            </nb-card>
          </div>

          <div class="col-md-4 offset-md-4"  *ngIf="!email && !gathered['tasklist']">
            <nb-card size="medium" class="border-default" id="centralInfo">
              <nb-card-body>
                <div>
                    <img style="position:absolute; width: 50%; top: 0; left:0; right: 0; bottom: 0;  margin:auto;" src="assets/images/iKy-Logo.png"> 
                </div>

              </nb-card-body>
              <nb-card-footer>
                <div class="details">
                  <div class="title">
                    Gathering information
                  </div>
                  <div class="description">
                      To collect information it is necessary to enter an e-mail address in the search window that can be activated from the magnifying glass present in the button above, below or from the magnifying glass located in the upper right corner.
                  </div>
                </div>
              </nb-card-footer>
            </nb-card>
          </div>

          <div class="col-md-12" *ngIf="!email && !gathered['tasklist']">
            <nb-card>
              <nb-card-body>
                    <button nbButton outline status="success" (click)="searchService.activateSearch()">
                    <i style="font-size: 25px;" class="nb-search"></i>
                </button>
              </nb-card-body>
            </nb-card>
          </div>
          -->

          <!-- Emailrep Info -->
          <div id="divEmailrepInfo" #divEmailrepInfo class="col-md-4" *ngIf="gathered['emailrep'] && gathered['emailrep'].result[4] && gathered['emailrep'].result[4]['graphic'][0] && validationShow[gathered['emailrep'].result[2]['validation']]" [nbSpinner]="processing" nbSpinnerStatus="secondary" nbSpinnerSize="xxlarge" nbSpinnerMessage="">
            <ngx-emailrep-info [data]="gathered['emailrep']"></ngx-emailrep-info>
          </div>

          <!-- Emailrep Social -->
          <div id="divEmailrepSocial" #divEmailrepSocial class="col-md-4" *ngIf="gathered['emailrep'] && gathered['emailrep'].result[4] && gathered['emailrep'].result[4]['graphic'][1] && validationShow[gathered['emailrep'].result[2]['validation']]" [nbSpinner]="processing" nbSpinnerStatus="secondary" nbSpinnerSize="xxlarge" nbSpinnerMessage="">
            <ngx-emailrep-social [data]="gathered['emailrep']"></ngx-emailrep-social>
          </div>

          <!-- Fullcontact Graphs -->
          <div id="divFullcontactGraphs" #divFullcontactGraphs class="col-md-4" *ngIf="gathered['fullcontact'] && gathered['fullcontact'].result && validationShow[gathered['fullcontact'].result[2]['validation']]" [nbSpinner]="processing" nbSpinnerStatus="secondary" nbSpinnerSize="xxlarge" nbSpinnerMessage="">
            <ngx-fullcontact-graphs [data]="gathered['fullcontact']"></ngx-fullcontact-graphs>
          </div>

          <!-- Fullcontact Cloud 
          <div class="col-md-4" *ngIf="gathered['fullcontact'] && 
                                       gathered['fullcontact'].result[4]">
            <ngx-fullcontact-cloud [data]="gathered['fullcontact']"></ngx-fullcontact-cloud>
          </div>
          -->

          <!-- Fullcontact Scramble -->
          <div class="col-md-4" *ngIf="gathered['fullcontact'] && gathered['fullcontact'].result[4] && gathered['fullcontact'].result[4]['graphic'][1] && validationShow[gathered['fullcontact'].result[2]['validation']]" [nbSpinner]="processing" nbSpinnerStatus="secondary" nbSpinnerSize="xxlarge" nbSpinnerMessage="">
            <ngx-fullcontact-scramble [data]="gathered['fullcontact']"></ngx-fullcontact-scramble>
          </div>

          <!-- Peopledatalabs Data -->
          <div id="divPeopledatalabsGraphs" #divPeopledatalabsGraphs class="col-md-4" *ngIf="gathered['peopledatalabs'] && gathered['peopledatalabs'].result && validationShow[gathered['peopledatalabs'].result[2]['validation']]" [nbSpinner]="processing" nbSpinnerStatus="secondary" nbSpinnerSize="xxlarge" nbSpinnerMessage="">
            <ngx-peopledatalabs-graphs [data]="gathered['peopledatalabs']"></ngx-peopledatalabs-graphs>
          </div>

          <!-- Peopledatalabs Social -->
          <div id="divPeopledatalabsSocial" #divPeopledatalabsSocial class="col-md-4" *ngIf="gathered['peopledatalabs'] && gathered['peopledatalabs'].result && gathered['peopledatalabs'].result[4].graphic[1].social?.length > 1 && validationShow[gathered['peopledatalabs'].result[2]['validation']]" [nbSpinner]="processing" nbSpinnerStatus="secondary" nbSpinnerSize="xxlarge" nbSpinnerMessage="">
            <ngx-peopledatalabs-social [data]="gathered['peopledatalabs']"></ngx-peopledatalabs-social>
          </div>

          <!-- Skype -->
          <div class="col-md-4" *ngIf="gathered['skype'] && gathered['skype'].result[4] && gathered['skype'].result[4]['graphic'][0] && validationShow[gathered['skype'].result[2]['validation']]" [nbSpinner]="processing" nbSpinnerStatus="secondary" nbSpinnerSize="xxlarge" nbSpinnerMessage="">
            <ngx-skype [data]="gathered['skype']"></ngx-skype>
          </div>

          <!-- Twitter Social -->
          <div class="col-md-4" id="divTwitterSocial" #divTwitterSocial *ngIf="gathered['twitter'] && gathered['twitter'].result[4] && validationShow[gathered['twitter'].result[2]['validation']]" [nbSpinner]="processing" nbSpinnerStatus="secondary" nbSpinnerSize="xxlarge" nbSpinnerMessage="">
            <ngx-twitter-social [data]="gathered['twitter']"></ngx-twitter-social>
          </div>

          <!-- Twitter Popularity -->
          <div class="col-md-4" id="divTwitterPopularity" #divTwitterPopularity *ngIf="gathered['twitter'] && gathered['twitter'].result[4] && validationShow[gathered['twitter'].result[2]['validation']]" [nbSpinner]="processing" nbSpinnerStatus="secondary" nbSpinnerSize="xxlarge" nbSpinnerMessage="">
            <ngx-twitter-popularity [data]="gathered['twitter']"></ngx-twitter-popularity>
          </div>

          <!-- Twitter Resume -->
          <div class="col-md-4" id="divTwitterResume" #divTwitterResume *ngIf="gathered['twitter'] && gathered['twitter'].result[4] && validationShow[gathered['twitter'].result[2]['validation']]" [nbSpinner]="processing" nbSpinnerStatus="secondary" nbSpinnerSize="xxlarge" nbSpinnerMessage="">
            <ngx-twitter-resume [data]="gathered['twitter']"></ngx-twitter-resume>
          </div>

          <!-- Twitter Approval
          <div class="col-md-4" id="divTwitterApproval" #divTwitterApproval *ngIf="gathered['twitter'] && gathered['twitter'].result[4] && validationShow[gathered['twitter'].result[2]['validation']]" [nbSpinner]="processing" nbSpinnerStatus="secondary" nbSpinnerSize="xxlarge" nbSpinnerMessage="">
            <ngx-twitter-approval [data]="gathered['twitter']"></ngx-twitter-approval>
          </div> -->

          <!-- Twitter Tweets vs Retweets -->
          <div class="col-md-4" id="divTwitterTwvsrt" #divTwitterTwvsrt *ngIf="gathered['twitter'] && gathered['twitter'].result[4] && validationShow[gathered['twitter'].result[2]['validation']]" [nbSpinner]="processing" nbSpinnerStatus="secondary" nbSpinnerSize="xxlarge" nbSpinnerMessage="">
            <ngx-twitter-twvsrt [data]="gathered['twitter']"></ngx-twitter-twvsrt>
          </div>

          <!-- Twitter List -->
          <div class="col-md-8" id="divTwitterList" #divTwitterList *ngIf="gathered['twitter'] && gathered['twitter'].result[4] && validationShow[gathered['twitter'].result[2]['validation']]" [nbSpinner]="processing" nbSpinnerStatus="secondary" nbSpinnerSize="xxlarge" nbSpinnerMessage="">
            <ngx-twitter-list [data]="gathered['twitter']"></ngx-twitter-list>
          </div>

          <!-- Twitter Hashtag -->
          <div class="col-md-4" id="divTwitterHashtag" #divTwitterHashtag *ngIf="gathered['twitter'] && gathered['twitter'].result[4] && validationShow[gathered['twitter'].result[2]['validation']]" [nbSpinner]="processing" nbSpinnerStatus="secondary" nbSpinnerSize="xxlarge" nbSpinnerMessage="">
            <ngx-twitter-hashtag [data]="gathered['twitter']"></ngx-twitter-hashtag>
          </div>

          <!-- Twitter Sentiment -->
          <div class="col-md-8" id="divTweetimentLines" #divTweetimentLines *ngIf="gathered['tweetiment'] && gathered['tweetiment'].result[4] && validationShow[gathered['tweetiment'].result[2]['validation']]" [nbSpinner]="processing" nbSpinnerStatus="secondary" nbSpinnerSize="xxlarge" nbSpinnerMessage="">
            <ngx-tweetiment-lines [data]="gathered['tweetiment']"></ngx-tweetiment-lines>
          </div>

          <!-- Twitter Users -->
          <div class="col-md-4" id="divTwitterUsers" #divTwitterUsers *ngIf="gathered['twitter'] && gathered['twitter'].result[4] && validationShow[gathered['twitter'].result[2]['validation']]" [nbSpinner]="processing" nbSpinnerStatus="secondary" nbSpinnerSize="xxlarge" nbSpinnerMessage="">
            <ngx-twitter-users [data]="gathered['twitter']"></ngx-twitter-users>
          </div>

          <!-- Twitter Hour -->
          <div class="col-md-4" id="divTwitterHour" #divTwitterHour *ngIf="gathered['twitter'] && gathered['twitter'].result[4] && validationShow[gathered['twitter'].result[2]['validation']]" [nbSpinner]="processing" nbSpinnerStatus="secondary" nbSpinnerSize="xxlarge" nbSpinnerMessage="">
            <ngx-twitter-hour [data]="gathered['twitter']"></ngx-twitter-hour>
          </div>

          <!-- Twitter Week -->
          <div class="col-md-4" id="divTwitterWeek" #divTwitterWeek *ngIf="gathered['twitter'] && gathered['twitter'].result[4] && validationShow[gathered['twitter'].result[2]['validation']]" [nbSpinner]="processing" nbSpinnerStatus="secondary" nbSpinnerSize="xxlarge" nbSpinnerMessage="">
            <ngx-twitter-week [data]="gathered['twitter']"></ngx-twitter-week>
          </div>

          <!-- Twitter Source -->
          <div class="col-md-4" id="divTwitterSource" #divTwitterSource *ngIf="gathered['twitter'] && gathered['twitter'].result[4] && validationShow[gathered['twitter'].result[2]['validation']]" [nbSpinner]="processing" nbSpinnerStatus="secondary" nbSpinnerSize="xxlarge" nbSpinnerMessage="">
            <ngx-twitter-source [data]="gathered['twitter']"></ngx-twitter-source>
          </div>

          <!-- Twitter Timeline
          <div class="col-md-8" id="divTwitterTimeline" #divTwitterTimeline *ngIf="gathered['twitter'] && gathered['twitter'].result[4] && validationShow[gathered['twitter'].result[2]['validation']]" [nbSpinner]="processing" nbSpinnerStatus="secondary" nbSpinnerSize="xxlarge" nbSpinnerMessage="">
            <ngx-twitter-timeline [data]="gathered['twitter']"></ngx-twitter-timeline>
          </div> -->

          <!-- Instagram graphs -->
          <div class="col-md-4" id="divInstagramSocial" #divInstagramSocial *ngIf="gathered['instagram'] && gathered['instagram'].result[4] && validationShow[gathered['instagram'].result[2]['validation']]" [nbSpinner]="processing" nbSpinnerStatus="secondary" nbSpinnerSize="xxlarge" nbSpinnerMessage="">
            <ngx-instagram-graphs [data]="gathered['instagram']"></ngx-instagram-graphs>
          </div>

          <!-- Instagram photos -->
          <div class="col-md-4" id="divInstagramPhotos" #divInstagramPhotos *ngIf="gathered['instagram'] && gathered['instagram'].result[4] && gathered['instagram'].result[4].graphic[9].photos?.length > 1 && validationShow[gathered['instagram'].result[2]['validation']]" [nbSpinner]="processing" nbSpinnerStatus="secondary" nbSpinnerSize="xxlarge" nbSpinnerMessage="">
            <ngx-instagram-photos [data]="gathered['instagram']"></ngx-instagram-photos>
          </div>

          <!-- Instagram hashtag -->
          <div class="col-md-4" id="divInstagramHashtag" #divInstagramHashtag *ngIf="gathered['instagram'] && gathered['instagram'].result[4] && gathered['instagram'].result[4].graphic[3].hashtags?.length > 0 && validationShow[gathered['instagram'].result[2]['validation']]" [nbSpinner]="processing" nbSpinnerStatus="secondary" nbSpinnerSize="xxlarge" nbSpinnerMessage="">
            <ngx-instagram-hashtag [data]="gathered['instagram']"></ngx-instagram-hashtag>
          </div>

          <!-- Instagram mention -->
          <div class="col-md-4" id="divInstagramMention" #divInstagramMention *ngIf="gathered['instagram'] && gathered['instagram'].result[4] && gathered['instagram'].result[4].graphic[4].mentions?.length > 0 && validationShow[gathered['instagram'].result[2]['validation']]" [nbSpinner]="processing" nbSpinnerStatus="secondary" nbSpinnerSize="xxlarge" nbSpinnerMessage="">
            <ngx-instagram-mention [data]="gathered['instagram']"></ngx-instagram-mention>
          </div>

          <!-- Instagram tagged -->
          <div class="col-md-4" id="divInstagramTagged" #divInstagramTagged *ngIf="gathered['instagram'] && gathered['instagram'].result[4] && gathered['instagram'].result[4].graphic[5].tagged?.length > 0 && validationShow[gathered['instagram'].result[2]['validation']]" [nbSpinner]="processing" nbSpinnerStatus="secondary" nbSpinnerSize="xxlarge" nbSpinnerMessage="">
            <ngx-instagram-tagged [data]="gathered['instagram']"></ngx-instagram-tagged>
          </div>

          <!-- Instagram hour -->
          <div class="col-md-4" id="divInstagramHour" #divInstagramHour *ngIf="gathered['instagram'] && gathered['instagram'].result[4] && gathered['instagram'].result[4].graphic[6].hour?.length > 0 && validationShow[gathered['instagram'].result[2]['validation']]" [nbSpinner]="processing" nbSpinnerStatus="secondary" nbSpinnerSize="xxlarge" nbSpinnerMessage="">
            <ngx-instagram-hour [data]="gathered['instagram']"></ngx-instagram-hour>
          </div>

          <!-- Instagram mediatype -->
          <div class="col-md-4" id="divInstagramMediatype" #divInstagramMediatype *ngIf="gathered['instagram'] && gathered['instagram'].result[4] && gathered['instagram'].result[4].graphic[8].mediatype?.length > 0 && validationShow[gathered['instagram'].result[2]['validation']]" [nbSpinner]="processing" nbSpinnerStatus="secondary" nbSpinnerSize="xxlarge" nbSpinnerMessage="">
            <ngx-instagram-mediatype [data]="gathered['instagram']"></ngx-instagram-mediatype>
          </div>

          <!-- Instagram week -->
          <div class="col-md-4" id="divInstagramWeek" #divInstagramWeek *ngIf="gathered['instagram'] && gathered['instagram'].result[4] && gathered['instagram'].result[4].graphic[7].week?.length > 0 && validationShow[gathered['instagram'].result[2]['validation']]" [nbSpinner]="processing" nbSpinnerStatus="secondary" nbSpinnerSize="xxlarge" nbSpinnerMessage="">
            <ngx-instagram-week [data]="gathered['instagram']"></ngx-instagram-week>
          </div>

          <!-- Instagram Posts -->
          <div class="col-md-4" id="divInstagramPosts" #divInstagramPosts *ngIf="gathered['instagram'] && gathered['instagram'].result[4] && validationShow[gathered['instagram'].result[2]['validation']]" [nbSpinner]="processing" nbSpinnerStatus="secondary" nbSpinnerSize="xxlarge" nbSpinnerMessage="">
            <ngx-instagram-posts [data]="gathered['instagram']"></ngx-instagram-posts>
          </div>

          <!-- Instagram Map -->
          <div class="col-md-8" id="divInstagramMap" #divInstagramMap *ngIf="gathered['instagram'] && gathered['instagram'].result[4] && validationShow[gathered['instagram'].result[2]['validation']]" [nbSpinner]="processing" nbSpinnerStatus="secondary" nbSpinnerSize="xxlarge" nbSpinnerMessage="">
            <ngx-instagram-map [data]="gathered['instagram']"></ngx-instagram-map>
          </div>

          <!-- Linkedin Graphs -->
          <div class="col-md-4" id="divLinkedinGraphs" #divLinkedinGraphs *ngIf="gathered['linkedin'] && gathered['linkedin'].result[4] && validationShow[gathered['linkedin'].result[2]['validation']]" [nbSpinner]="processing" nbSpinnerStatus="secondary" nbSpinnerSize="xxlarge" nbSpinnerMessage="">
            <ngx-linkedin-graphs [data]="gathered['linkedin']"></ngx-linkedin-graphs>
          </div>

          <!-- Linkedin Bubble -->
          <div class="col-md-4" id="divLinkedinBubble" #divLinkedinBubble *ngIf="gathered['linkedin'] && gathered['linkedin'].result[4] && validationShow[gathered['linkedin'].result[2]['validation']]" [nbSpinner]="processing" nbSpinnerStatus="secondary" nbSpinnerSize="xxlarge" nbSpinnerMessage="">
            <ngx-linkedin-bubble [data]="gathered['linkedin']"></ngx-linkedin-bubble>
          </div>

          <!-- Linkedin Certs -->
          <div class="col-md-4" id="divLinkedinCerts" #divLinkedinCerts *ngIf="gathered['linkedin'] && gathered['linkedin'].result[4] && gathered['linkedin'].result[4].graphic[2].certificationView?.length > 0 && gathered['linkedin'].result[4] && validationShow[gathered['linkedin'].result[2]['validation']]" [nbSpinner]="processing" nbSpinnerStatus="secondary" nbSpinnerSize="xxlarge" nbSpinnerMessage="">
            <ngx-linkedin-certs [data]="gathered['linkedin']"></ngx-linkedin-certs>
          </div>

          <!-- Linkedin Positions -->
          <div class="col-md-4" id="divLinkedinPos" #divLinkedinPos *ngIf="gathered['linkedin'] && gathered['linkedin'].result[4] && gathered['linkedin'].result[4].graphic[3].positionGroupView?.length > 0 && gathered['linkedin'].result[4] && validationShow[gathered['linkedin'].result[2]['validation']]" [nbSpinner]="processing" nbSpinnerStatus="secondary" nbSpinnerSize="xxlarge" nbSpinnerMessage="">
            <ngx-linkedin-pos [data]="gathered['linkedin']"></ngx-linkedin-pos>
          </div>

          <!-- Github Graphs -->
          <div id="divGithubGraphs" id="divGithubGraphs" #divGithubGraphs class="col-md-4" *ngIf="gathered['github'] && gathered['github'].result[4] && validationShow[gathered['github'].result[2]['validation']]" [nbSpinner]="processing" nbSpinnerStatus="secondary" nbSpinnerSize="xxlarge" nbSpinnerMessage="">
            <ngx-github-graphs [data]="gathered['github']"></ngx-github-graphs>
          </div>

          <!-- Github Calendar -->
          <div class="col-md-8" id="divGithubCalendar" #divGithubCalendar *ngIf="gathered['github'] && gathered['github'].result[4] && validationShow[gathered['github'].result[2]['validation']]" [nbSpinner]="processing" nbSpinnerStatus="secondary" nbSpinnerSize="xxlarge" nbSpinnerMessage="">
            <ngx-github-calendar [data]="gathered['github']"></ngx-github-calendar>
          </div>

          <!-- Reddit social-->
          <div class="col-md-4" id="divRedditSocial" #divRedditSocial *ngIf="gathered['reddit'] && gathered['reddit'].result[4] && gathered['reddit'].result[4].graphic[0].social?.length > 1 && validationShow[gathered['reddit'].result[2]['validation']]" [nbSpinner]="processing" nbSpinnerStatus="secondary" nbSpinnerSize="xxlarge" nbSpinnerMessage="">
            <ngx-reddit-social [data]="gathered['reddit']"></ngx-reddit-social>
          </div>

          <!-- Reddit Bubble-->
          <div class="col-md-4" id="divRedditBubble" #divRedditBubble *ngIf="gathered['reddit'] && gathered['reddit'].result[4] && gathered['reddit'].result[4].graphic[0].social?.length > 1 && validationShow[gathered['reddit'].result[2]['validation']]" [nbSpinner]="processing" nbSpinnerStatus="secondary" nbSpinnerSize="xxlarge" nbSpinnerMessage="">
            <ngx-reddit-bubble [data]="gathered['reddit']"></ngx-reddit-bubble>
          </div>

          <!-- Reddit Hour-->
          <div class="col-md-4" id="divRedditHour" #divRedditHour *ngIf="gathered['reddit'] && gathered['reddit'].result[4] && gathered['reddit'].result[4].graphic[0].social?.length > 1 && validationShow[gathered['reddit'].result[2]['validation']]" [nbSpinner]="processing" nbSpinnerStatus="secondary" nbSpinnerSize="xxlarge" nbSpinnerMessage="">
            <ngx-reddit-hour [data]="gathered['reddit']"></ngx-reddit-hour>
          </div>

          <!-- Reddit Week-->
          <div class="col-md-4" id="divRedditWeek" #divRedditWeek *ngIf="gathered['reddit'] && gathered['reddit'].result[4] && gathered['reddit'].result[4].graphic[0].social?.length > 1 && validationShow[gathered['reddit'].result[2]['validation']]" [nbSpinner]="processing" nbSpinnerStatus="secondary" nbSpinnerSize="xxlarge" nbSpinnerMessage="">
            <ngx-reddit-week [data]="gathered['reddit']"></ngx-reddit-week>
          </div>

          <!-- Keybase Devices -->
          <div class="col-md-4" id="divKeybaseDevices" #divKeybaseDevices *ngIf="gathered['keybase'] && 
                                       gathered['keybase'].result[4] && validationShow[gathered['keybase'].result[2]['validation']]" [nbSpinner]="processing" nbSpinnerStatus="secondary" nbSpinnerSize="xxlarge" nbSpinnerMessage="">
            <ngx-keybase-devices [data]="gathered['keybase']"></ngx-keybase-devices>
          </div>

          <!-- Keybase Social -->
          <div class="col-md-4" id="divKeybaseSocial" #divKeybaseSocial *ngIf="gathered['keybase'] && 
                                       gathered['keybase'].result[4] && validationShow[gathered['keybase'].result[2]['validation']]" [nbSpinner]="processing" nbSpinnerStatus="secondary" nbSpinnerSize="xxlarge" nbSpinnerMessage="">
            <ngx-keybase-social [data]="gathered['keybase']"></ngx-keybase-social>
          </div>

          <!-- Tiktok graphs-->
          <div class="col-md-4" id="divTiktokSocial" #divTiktokSocial *ngIf="gathered['tiktok'] && gathered['tiktok'].result[4] && gathered['tiktok'].result[4].graphic[0].tiktok?.length > 1 && validationShow[gathered['tiktok'].result[2]['validation']]" [nbSpinner]="processing" nbSpinnerStatus="secondary" nbSpinnerSize="xxlarge" nbSpinnerMessage="">
            <ngx-tiktok-graphs [data]="gathered['tiktok']"></ngx-tiktok-graphs>
          </div>

          <!-- Tinder graphs-->
          <div class="col-md-4" id="divTinderGraphs" #divTinderGraphs *ngIf="gathered['tinder'] && gathered['tinder'].result[4] && gathered['tinder'].result[4].graphic[0].tinder?.length > 1 && validationShow[gathered['tinder'].result[2]['validation']]" [nbSpinner]="processing" nbSpinnerStatus="secondary" nbSpinnerSize="xxlarge" nbSpinnerMessage="">
            <ngx-tinder-graphs [data]="gathered['tinder']"></ngx-tinder-graphs>
          </div>

          <!-- Venmo User -->
          <div class="col-md-4" id="divVenmoUser" #divVenmoUser *ngIf="gathered['venmo'] && gathered['venmo'].result[4] && gathered['venmo'].result[4].graphic[0].user?.length > 1 && validationShow[gathered['venmo'].result[2]['validation']]" [nbSpinner]="processing" nbSpinnerStatus="secondary" nbSpinnerSize="xxlarge" nbSpinnerMessage="">
            <ngx-venmo-graphs [data]="gathered['venmo']"></ngx-venmo-graphs>
          </div>

          <!-- Venmo Friends -->
          <div class="col-md-4" id="divVenmoUser" #divVenmoUser *ngIf="gathered['venmo'] && gathered['venmo'].result[4] && gathered['venmo'].result[4].graphic[1].friends?.length > 0 && validationShow[gathered['venmo'].result[2]['validation']]" [nbSpinner]="processing" nbSpinnerStatus="secondary" nbSpinnerSize="xxlarge" nbSpinnerMessage="">
            <ngx-venmo-friends [data]="gathered['venmo']"></ngx-venmo-friends>
          </div>

          <!-- Venmo Transactions -->
          <div class="col-md-4" id="divVenmoTrans" #divVenmoTrans *ngIf="gathered['venmo'] && gathered['venmo'].result[4] && gathered['venmo'].result[4].graphic[2].trans?.length > 0 && validationShow[gathered['venmo'].result[2]['validation']]" [nbSpinner]="processing" nbSpinnerStatus="secondary" nbSpinnerSize="xxlarge" nbSpinnerMessage="">
            <ngx-venmo-trans [data]="gathered['venmo']"></ngx-venmo-trans>
          </div>

          <!-- HIBP -->
          <div class="col-md-4" id="divLeakSocial" #divLeakSocial *ngIf="gathered['leaks'] && gathered['leaks'].result[4] && validationShow[gathered['leaks'].result[2]['validation']]" [nbSpinner]="processing" nbSpinnerStatus="secondary" nbSpinnerSize="xxlarge" nbSpinnerMessage="">
            <ngx-leak-graphs [data]="gathered['leaks']"></ngx-leak-graphs>
          </div>

          <!-- LeakLookup -->
          <div class="col-md-4" id="divLeaklookupEmail" #divLeaklookupEmail *ngIf="gathered['leaklookup'] && gathered['leaklookup'].result[4] && validationShow[gathered['leaklookup'].result[2]['validation']]" [nbSpinner]="processing" nbSpinnerStatus="secondary" nbSpinnerSize="xxlarge" nbSpinnerMessage="">
            <ngx-leaklookup-email [data]="gathered['leaklookup']"></ngx-leaklookup-email>
          </div>

          <!-- Darkpass -->
          <div class="col-md-4" id="divDarkpassList" #divDarkpassList *ngIf="gathered['darkpass'] && gathered['darkpass'].result[4] && validationShow[gathered['darkpass'].result[2]['validation']]" [nbSpinner]="processing" nbSpinnerStatus="secondary" nbSpinnerSize="xxlarge" nbSpinnerMessage="">
            <ngx-darkpass-list [data]="gathered['darkpass']"></ngx-darkpass-list>
          </div>

          <!-- Search Names -->
          <div class="col-md-4" id="divSearchNames" #divSearchNames *ngIf="gathered['search'] && gathered['search'].result[4] && gathered['search'].result[4].graphic[0].names?.length > 0 && validationShow[gathered['search'].result[2]['validation']]" [nbSpinner]="processing" nbSpinnerStatus="secondary" nbSpinnerSize="xxlarge" nbSpinnerMessage="">
            <ngx-search-names [data]="gathered['search']"></ngx-search-names>
          </div>

          <!-- Search Social -->
          <div class="col-md-4" id="divSearchSocial" #divSearchSocial *ngIf="gathered['search'] && gathered['search'].result[4] && gathered['search'].result[4].graphic[2].social?.length > 0 && validationShow[gathered['search'].result[2]['validation']]" [nbSpinner]="processing" nbSpinnerStatus="secondary" nbSpinnerSize="xxlarge" nbSpinnerMessage="">
            <ngx-search-social [data]="gathered['search']"></ngx-search-social>
          </div>

          <!-- Search Usernames -->
          <div class="col-md-4" id="divSearchUsernames" #divSearchUsernames *ngIf="gathered['search'] && gathered['search'].result[4] && gathered['search'].result[4].graphic[1].username?.length > 0 && validationShow[gathered['search'].result[2]['validation']]" [nbSpinner]="processing" nbSpinnerStatus="secondary" nbSpinnerSize="xxlarge" nbSpinnerMessage="">
            <ngx-search-usernames [data]="gathered['search']"></ngx-search-usernames>
          </div>

          <!-- Search Searches -->
          <div class="col-md-12" id="divSearchSearches" #divSearchSearches *ngIf="gathered['search'] && gathered['search'].result[4] && gathered['search'].result[4].graphic[3].searches?.length > 0 && validationShow[gathered['search'].result[2]['validation']]" [nbSpinner]="processing" nbSpinnerStatus="secondary" nbSpinnerSize="xxlarge" nbSpinnerMessage="">
            <div class="row">
              <ngx-search-searches class="col-md-8" [data]="gathered['search']"></ngx-search-searches>
              <ngx-search-list class="col-md-4" [data]="gathered['search']"></ngx-search-list>
            </div>
          </div>
          
          <!-- Search List 
          <div class="col-md-8" id="divSearchList" #divSearchList *ngIf="gathered['search'] && gathered['search'].result[4] && gathered['search'].result[4].graphic[3].searches?.length > 0 && validationShow[gathered['search'].result[2]['validation']]" [nbSpinner]="processing" nbSpinnerStatus="secondary" nbSpinnerSize="xxlarge" nbSpinnerMessage="">
            <ngx-search-list [data]="gathered['search']"></ngx-search-list>
          </div>
          -->

          <!-- Search Mentions -->
          <div class="col-md-4" id="divSearchMentions" #divSearchMentions *ngIf="gathered['search'] && gathered['search'].result[4] && gathered['search'].result[4].graphic[4].mentions?.length > 0 && validationShow[gathered['search'].result[2]['validation']]" [nbSpinner]="processing" nbSpinnerStatus="secondary" nbSpinnerSize="xxlarge" nbSpinnerMessage="">
            <ngx-search-mentions [data]="gathered['search']"></ngx-search-mentions>
          </div>

          <!-- Search Hashtag -->
          <div class="col-md-4" id="divSearchHashtag" #divSearchHashtag *ngIf="gathered['search'] && gathered['search'].result[4] && gathered['search'].result[4].graphic[5].hashtags?.length > 0 && validationShow[gathered['search'].result[2]['validation']]" [nbSpinner]="processing" nbSpinnerStatus="secondary" nbSpinnerSize="xxlarge" nbSpinnerMessage="">
            <ngx-search-hashtag [data]="gathered['search']"></ngx-search-hashtag>
          </div>

          <!-- Socialscan Email -->
          <div id="divSocialscanEmail" #divSocialscanEmail class="col-md-4" *ngIf="gathered['socialscan'] && gathered['socialscan'].result[4] && gathered['socialscan'].result[4]['graphic'][0] && validationShow[gathered['socialscan'].result[2]['validation']]" [nbSpinner]="processing" nbSpinnerStatus="secondary" nbSpinnerSize="xxlarge" nbSpinnerMessage="">
            <ngx-socialscan-email [data]="gathered['socialscan']"></ngx-socialscan-email>
          </div>

          <!-- Socialscan User -->
          <div id="divSocialscanUser" #divSocialscanUser class="col-md-4" *ngIf="gathered['socialscan'] && gathered['socialscan'].result[4] && gathered['socialscan'].result[4]['graphic'][1] && validationShow[gathered['socialscan'].result[2]['validation']]" [nbSpinner]="processing" nbSpinnerStatus="secondary" nbSpinnerSize="xxlarge" nbSpinnerMessage="">
            <ngx-socialscan-user [data]="gathered['socialscan']"></ngx-socialscan-user>
          </div>


          <!-- Sherlock -->
          <div class="col-md-12" id="divSherlock" #divSherlock *ngIf="gathered['sherlock'] && gathered['sherlock'].result[4] && gathered['sherlock'].result[4].graphic[0].sherlock?.length > 0 && validationShow[gathered['sherlock'].result[2]['validation']]" [nbSpinner]="processing" nbSpinnerStatus="secondary" nbSpinnerSize="xxlarge" nbSpinnerMessage="">
            <div class="row">
              <ngx-sherlock-graph class="col-md-8" [data]="gathered['sherlock']"></ngx-sherlock-graph>
              <ngx-sherlock-list class="col-md-4" [data]="gathered['sherlock']"></ngx-sherlock-list>
            </div>
          </div>
          
          <div class="col-md-12" *ngIf="gathered && gathered['email'] && jsonLength(gathered) > 4">
            <nb-card>
              <nb-card-body>
            
                <nb-actions size="large" fullWidth [nbSpinner]="processing" nbSpinnerStatus="secondary" nbSpinnerSize="xxsmall" nbSpinnerMessage="">
                  <nb-action nbTooltip="Search information" nbTooltipPlacement="top" nbTooltipStatus="primary" >
                      <i (click)="searchService.activateSearch()" class="fas fa-search" style="font-size: 14px;"></i><span (click)="searchService.activateSearch()">Search&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span><i (click)="toggleFlipView()" class="fab fa-searchengin" style="font-size: 16px;"></i><span (click)="toggleFlipView()">Advance</span>
                  </nb-action>
                  <!-- <nb-action (click)="generateAllPdf()" nbTooltip="Generate report" nbTooltipPlacement="top" nbTooltipStatus="default"> -->
                  <nb-action disabled nbTooltip="Generate report" nbTooltipPlacement="top" nbTooltipStatus="primary" style="color: rgba(5, 252, 252, 0.2)">
                    <i class="fas fa-file-alt" style="font-size: 14px; color: rgba(5, 252,252, 0.2);"></i><span style="color: rgba(5, 252,252, 0.2);">Report</span>
                  </nb-action>
                  <nb-action (click)="generateDownloadJsonUri()" nbTooltip="Download raw JSON" nbTooltipPlacement="top" nbTooltipStatus="primary">
                    <i class="fas fa-download" style="font-size: 14px;"></i><span>Json</span>
                  </nb-action>

                  <nb-action>
                    <div>Validation : </div>
                    <div class="validation-menu" (click)="validationShow['hard'] = !validationShow['hard']"><span  nbTooltip="Hard validation" nbTooltipPlacement="bottom" nbTooltipStatus="success" class="icon validation-hard" (click)="onH = !onH" [style.color]="!onH ? '#004d1a' : 'green'"></span></div>
                    <div class="validation-menu" (click)="validationShow['soft'] = !validationShow['soft']"><span nbTooltip="Soft validation" nbTooltipPlacement="top" nbTooltipStatus="warning" class="icon validation-soft" (click)="onS = !onS" [style.color]="!onS ? '#4d3d00' : '#ffcc00'"></span></div>
                    <div class="validation-menu" (click)="validationShow['no'] = !validationShow['no']"><span nbTooltip="No validation" nbTooltipPlacement="bottom" nbTooltipStatus="danger" class="icon validation-no" (click)="onN = !onN" [style.color]="!onN ? '#4d0000' : '#cc0000'"></span></div>
                  </nb-action>

                </nb-actions>
            
              </nb-card-body>
            </nb-card>
          </div>

        </div>
    </nb-card>
  </nb-card-front>

  <nb-card-back>
    <nb-card>
      <nb-card-header>ADVANCED SEARCH</nb-card-header>
      <nb-card-body>
        <div class="form-group row" style="padding-top: 20px; padding-right:20px; margin-bottom: 10px;">
      <label for="inputEmail" class="col-sm-1 col-form-label" nbTooltip="Email address" nbTooltipStatus="primary" style="text-align: center;"><i class="fas fa-envelope fa-2x"></i></label>
      <div class="col-sm-5">
            <input type="text" class="form-control" #email id="email" placeholder="Email" autocomplete="off" style="background-color: rgba(0, 0, 0,0.5); border: none;">
          </div>
          <label for="inputUsername" class="col-sm-1 col-form-label" nbTooltip="Posible Username (Used in sherlock and search module)" nbTooltipStatus="primary" style="text-align: center;"><i class="fas fa-user fa-2x"></i></label>
          <div class="col-sm-5">
            <input type="text" class="form-control" #username id="username" placeholder="Username" autocomplete="off" style="background-color: rgba(0, 0, 0,0.5); border: none;">
          </div>
        </div>
    
        <div class="form-group row" style="padding-top: 10px;padding-right:20px; margin-bottom: 10px;">
          <label for="inputTwitter" class="col-sm-1 col-form-label" nbTooltip="Posible Twitter Account (Used in twitter module)" nbTooltipStatus="primary" style="text-align: center;"><i class="fab fa-twitter-square fa-2x"></i></label>
          <div class="col-sm-5">
            <input type="text" class="form-control" #twitter id="twitter" placeholder="Twitter" autocomplete="off" style="background-color: rgba(0, 0, 0,0.5); border: none;">
          </div>
          <label for="inputInstagram" class="col-sm-1 col-form-label" nbTooltip="Posible Instagram Account (Used in instagram module)" nbTooltipStatus="primary" style="text-align: center;"><i class="fab fa-instagram fa-2x"></i></label>
          <div class="col-sm-5">
            <input type="text" class="form-control" #instagram id="instagram" placeholder="Instagram" autocomplete="off" style="background-color: rgba(0, 0, 0,0.5); border: none;">
          </div>
        </div>
    
        <div class="form-group row" style="padding-top: 10px;padding-right:20px; margin-bottom: 10px;">
          <label for="inputLinkedin" class="col-sm-1 col-form-label" nbTooltip="Posible Linkedin Account (Used in linkedin module)" nbTooltipStatus="primary" style="text-align: center;"><i class="fab fa-linkedin fa-2x"></i></label>
          <div class="col-sm-5">
            <input type="text" class="form-control" #linkedin id="linkedin" placeholder="Linkedin" autocomplete="off" style="background-color: rgba(0, 0, 0, 0.5); border: none;">
          </div>
          <label for="inputGithub" class="col-sm-1 col-form-label" nbTooltip="Posible Github Account (Used in github module)" nbTooltipStatus="primary" style="text-align: center;"><i class="fab fa-github-square fa-2x"></i></label>
          <div class="col-sm-5">
            <input type="text" class="form-control" #github id="github" placeholder="Github" autocomplete="off" style="background-color: rgba(0, 0, 0, 0.5); border: none;">
          </div>
        </div>

        <div class="form-group row" style="padding-top: 10px;padding-right:20px; margin-bottom: 10px;">
          <label for="inputTiktok" class="col-sm-1 col-form-label" nbTooltip="Posible TikTok Account (Used in tiktok module)" nbTooltipStatus="primary" style="text-align: center;"><i class="fas fa-play-circle fa-2x"></i></label>
          <div class="col-sm-5">
            <input type="text" class="form-control" #tiktok id="tiktok" placeholder="Tiktok" autocomplete="off" style="background-color: rgba(0, 0, 0, 0.5); border: none;">
          </div>
          <label for="inputTinder" class="col-sm-1 col-form-label" nbTooltip="Posible Tinder Account (Used in tinder module)" nbTooltipStatus="primary" style="text-align: center;"><i class="fas fa-fire fa-2x"></i></label>
          <div class="col-sm-5">
            <input type="text" class="form-control" #tinder id="tinder" placeholder="Tinder" autocomplete="off" style="background-color: rgba(0, 0, 0, 0.5); border: none;">
          </div>
        </div>

        <div class="form-group row" style="padding-top: 10px;padding-right:20px; margin-bottom: 10px;">
          <label for="inputVenmo" class="col-sm-1 col-form-label" nbTooltip="Posible Venmo Account (Used in venmo module)" nbTooltipStatus="primary" style="text-align: center;"><i class="fab fa-vimeo-v fa-2x"></i></label>
          <div class="col-sm-5">
            <input type="text" class="form-control" #venmo id="venmo" placeholder="Venmo" autocomplete="off" style="background-color: rgba(0, 0, 0, 0.5); border: none;">
          </div>
          <label for="inputReddit" class="col-sm-1 col-form-label" nbTooltip="Posible Reddit Account (Used in reddit module)" nbTooltipStatus="primary" style="text-align: center;"><i class="fab fa-reddit-square fa-2x"></i></label>
          <div class="col-sm-5">
            <input type="text" class="form-control" #reddit id="reddit" placeholder="Reddit" autocomplete="off" style="background-color: rgba(0, 0, 0, 0.5); border: none;">
          </div>
        </div>

      </nb-card-body>
      <nb-card-footer>
          <button nbButton outline status="success" (click)="toggleFlipViewAndSearch(email.value, username.value, twitter.value, instagram.value, linkedin.value, github.value, tiktok.value, tinder.value, venmo.value, reddit.value)" style="border: none; margin-left:30px; font-weight: 400;">
              <i class="fas fa-search" style="padding-right: 5px"></i> SEARCH 
          </button>

          <button nbButton outline status="danger" (click)="toggleFlipView()" style="border: none; margin-left:20px; font-weight: 400;">
              <i class="fas fa-times" style="padding-right: 5px"></i> CANCEL 
          </button>
      </nb-card-footer>
    </nb-card>
  </nb-card-back>

</nb-flip-card>
