@import '../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {

  .sep {
     margin-top: 10px; 
     margin-bottom: 20px; 
     height: 2px; 
     background-color: rgba(0, 214, 143, 1);  
     width: 80%; 
     -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.9);
     -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.9);
     box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.9);
  }

  .text-sep {
     color: rgba(0, 214, 143, 1);  
     width: 100%; 
     text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.9);
     text-align: center;
     vertical-align: text-bottom;
     font-weight: 300;
     font-size: 17px;
  }

  nb-card {
    display: flex;
    flex-direction: column;
    padding: 0;
    border: none;
  }

  nb-card-body {
    display: flex;
    flex-direction: column;
    padding: 0px;
    border: none;
    overflow: hidden;
  }

  nb-card-footer {
     justify-content: space-around;
     padding: 0.75rem 0;
  }

  ::ng-deep .help {
    position: absolute;
    right: 60px;
    top: 15px;
    //color: #00f9a6 !important;
    color: nb-theme(text-basic-color);
    font-size: 15px;

    .icon::before {
      display: inline-block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
    }

    .validation::before {
      font-family: "Font Awesome 5 Free"; font-weight: 400; content: "\f058";
    }

  }

  ::ng-deep .soft {
    position: absolute;
    right: 30px;
    top: 15px;
    color: rgba(255, 201, 77, 1) !important;
    font-size: 15px;

    .icon::before {
      display: inline-block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
    }

    .validation::before {
      font-family: "Font Awesome 5 Free"; font-weight: 400; content: "\f058";
    }

  }

  ::ng-deep .hard {
    position: absolute;
    right: 30px;
    top: 15px;
    color: rgba(0, 214, 143, 1) !important;
    font-size: 15px;

    .icon::before {
      display: inline-block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
    }

    .validation::before {
      font-family: "Font Awesome 5 Free"; font-weight: 400; content: "\f058";
    }

  }

  ::ng-deep .no {
    position: absolute;
    right: 30px;
    top: 15px;
    color: rgba(255, 61, 113, 1) !important;
    font-size: 15px;

    .icon::before {
      display: inline-block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
    }

    .validation::before {
      font-family: "Font Awesome 5 Free"; font-weight: 400; content: "\f058";
    }

  }

  nb-card #actions {
      height: 101px;
  }
  nb-actions > nb-action {
    padding: 0 0.75rem;
    // border: 1px solid #00f9a6;
  }

  nb-action {

    cursor: pointer;
    i {
      color: nb-theme(text-basic-color);
      font-size: 2.5rem;
      @include nb-ltr(margin-right, 1rem);
      @include nb-rtl(margin-left, 1rem);
    }

    span {
      font-family: nb-theme(font-family-secondary);
      color: nb-theme(text-basic-color);
    }
    
    .validation-menu {
      font-size: 20px;
      padding-left: 15px;
      padding-right: 5px;

      .icon::before {
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
      }

      .validation::before {
        font-family: "Font Awesome 5 Free"; font-weight: 400; content: "\f058";
      }

      span {
        font-family: nb-theme(font-family-secondary);
        font-weight: nb-theme(text-paragraph-2-font-weight);
      }

    }

    .validation-hard::before {
      font-family: "Font Awesome 5 Free"; font-weight: 400; content: "\f058";
      // color: green;
    }
    .validation-soft::before {
      font-family: "Font Awesome 5 Free"; font-weight: 400; content: "\f058";
      // color: yellow !important;
    }
    .validation-no::before {
      font-family: "Font Awesome 5 Free"; font-weight: 400; content: "\f058";
      // color: red !important;
    }

  }

  button.btn-success.btn-outline {
    border: 1px solid #00f9a6;
  }

  .details {
    padding: 1.25rem 1.25rem 1.25rem;
    border-top: 1px solid #00f9a6;

    .title {
      font-family: nb-theme(font-family-secondary);
      font-weight: 300;
      color: nb-theme(text-basic-color);
      font-size: 1.3rem;
      margin-bottom: 1rem;

    }

    .description {
      text-align: justify;
      color: nb-theme(text-basic-color);
      font-weight: 300;
      font-size: 0.9rem;

      overflow: hidden;
      text-overflow: ellipsis;
      max-height: calc(1rem * 8 * #{nb-theme(text-paragraph-line-height)});
    }
  }

  /* d3 */
  ngx-instagram-posts,
  ngx-instagram-mediatype,
  // ngx-twitter-list,
  ngx-twitter-popularity,
  ngx-twitter-approval,
  ngx-twitter-twvsrt,
  ngx-twitter-resume,
  ngx-twitter-source,
  ngx-twitter-list,
  ngx-twitter-timeline,
  ngx-twitch-timeline,
  ngx-twitch-duration,
  ngx-spotify-playlists,
  ngx-d3-polar {
    display: block;

    ::ng-deep {
      .pie-label {
        fill: nb-theme(text-basic-color);
      }

      .grid-line-path {
        stroke: nb-theme(divider-color);
      }

      text {
        fill: nb-theme(text-basic-color);
      }

      .chart-legend {
        .legend-labels {
          background: nb-theme(layout-background-color);
        }
        .legend-label {
          color: nb-theme(text-basic-color);
          .active .legend-label-text {
            color: nb-theme(text-basic-color);
          }
        }
      }
    }
  }

  ngx-github-calendar {
    ::ng-deep {
      h2 {
        font-size: 20px;
        display: none;
      }
      .border, 
      .border-gray-dark, 
      .py-2, 
      .graph-before-activity-overview {
          border: hidden !important;
      }
      .contrib-footer {
          display: none;
      }
      /*
      .day {
          fill: #999 !important;
      }
      */
      .wday {
        // fill: nb-theme(header-background-color);
        // fill: black !important;
        // fill: #00f9a6;
        fill: #05fcfc;
        padding-right: 10px;
      }
      .month {
        // fill: black !important;
        fill: #05fcfc;
        margin-top: 10px important;
        margin-bottom: 10px important;
      }
    }
  }

  ngx-fullcontact-scramble {
    ::ng-deep {
      #cardScramble {
        display: flex;
        justify-content: center; 
        align-items: center; 
      }
    }
  }

  #centralInfo {
    height : 
          calc(#{nb-theme(sidebar-height)} - #{nb-theme(header-height)} - #{nb-theme(footer-height)} - 7rem) !important;
  }

  /* Tree */

  ::ng-deep .angular-tree-component {
    cursor: default;

    .node-wrapper {
      .node-content-wrapper {
        background: none;
        box-shadow: none;
        cursor: default;
      }

      .toggle-children-wrapper {
        cursor: pointer;
      }
    }
  }

  @include media-breakpoint-down(md) {
  }
  @include media-breakpoint-down(sm) {
  }
  @include media-breakpoint-down(is) {
  }
}
