<nb-card size="small">
  <nb-card-header>
    <div (click)="openDialog(dialogKeybaseDevice)">
        KEYBASE Device
    </div>
    <div class="help" [nbPopover]="keybaseDeviceHelp" nbPopoverPlacement="bottom"><i class="far fa-question-circle"></i></div>
    <div [ngClass]="data.result[2].validation"><i class="far fa-check-circle"></i></div>
  </nb-card-header>
  <nb-card-body id="nbCardGraphs" #nbCardGraphs style="text-align: center; overflow: hidden;">
      <ngx-graphs [data]="keybaseDevices"></ngx-graphs>
  </nb-card-body>
</nb-card>

<ng-template #dialogKeybaseDevice let-data let-ref="dialogRef">
    <nb-card style="height: 600px; width: 700px; background-color: rgba(0, 0, 0, 0.8); padding: 0px;">
      <nb-card-header>KEYBASE Devices</nb-card-header>
      <nb-card-body style="overflow: hidden; padding: 0px;">
        <ngx-graphs [data]="keybaseDevices" modal="true"></ngx-graphs>
      </nb-card-body>
    </nb-card>
</ng-template>

<ng-template #keybaseDeviceHelp>
  <nb-card style="margin: 0px; max-width: 50rem;">
    <nb-card-header status="warning">
      KEYBASE Graphs Help
    </nb-card-header>
    <nb-card-body>
      <p><strong style="font-weight: 600;">Module</strong> : Keybase</p> 
      <p style="font-weight: 600;">Description</p> 
      <p style="text-align: justify;">
      This window displays the devices declared by the user.
      </p>
      <p style="font-weight: 600;">Execution</p> 
      <p style="text-align: justify;">
      This module can be executed by entering a username in the <strong style="font-weight: 600;">keybase</strong> field of the advanced search, being its validation indicator high since it has been entered by the user
      </p> 
      <p style="text-align: justify;">
      It can also be executed if another module has found a keybase username (Fullcontact, Keybase, Searchs, PeopleDataLabs, etc). Its validation indicator will be medium since its discovery is indirect
      </p> 
      <p style="text-align: justify;">
      Finally, and with a low validation indicator, the module can be executed if a username was entered in the "username" field of the advanced search or if a mail was entered in the mail or advanced search. In this case the @domain.ext is cut out and the username is used as input
      </p> 
      <p style="font-weight: 600;">Source</p> 
      <p>Public API</p> 
    </nb-card-body>
  </nb-card>
</ng-template>