<nb-flip-card [showToggleButton]="false" [flipped]="flipped">
  <nb-card-front>

    <nb-card size="xsmall" style="background-color: rgba(0, 0, 0, 0); box-shadow: none;" *ngIf="!gathered['email']">
      <div class="row">
      
        <!-- Principal Search -->
        <div class="col-md-4 offset-md-4">
          <nb-card>
            <nb-card-body>
              <button nbButton outline status="success" (click)="searchService.activateSearch()" style="border: none; font-weight: 400;">
                  <i class="fas fa-search" style="padding-right: 5px"></i> SEARCH 
              </button>
            </nb-card-body>
          </nb-card>
        </div>

        <div class="col-md-4 offset-md-4">
          <nb-card size="medium" class="border-default" id="centralInfo">
            <nb-card-body>
              <div>
                  <img style="position:absolute; width: 40%; top: 0; left:0; right: 0; bottom: 0;  margin:auto;" src="assets/images/iKy-Logo.png"> 
              </div>

            </nb-card-body>
            <nb-card-footer style="border-top: 0px;">
              <div class="details">
                <div class="title">
                  Gathering information
                </div>
                <div class="description">
                    To collect information it is necessary to enter an e-mail address in the search window that can be activated from the magnifying glass present in the button above, below or from the magnifying glass located in the upper right corner.
                </div>
              </div>
            </nb-card-footer>
          </nb-card>
        </div>

        <!-- Advanced Search -->
        <div class="col-md-4 offset-md-4">
          <nb-card>
            <nb-card-body>
              <button nbButton outline status="success" (click)="toggleFlipView()" style="border: none; font-weight: 400;">
                  <i class="fab fa-searchengin" style="padding-right: 5px;"></i> ADVANCE SEARCH 
              </button>
            </nb-card-body>
          </nb-card>
        </div>


      </div>
    </nb-card>

    <nb-card size="xsmall" style="background-color: rgba(0, 0, 0, 0); box-shadow: none;" *ngIf="timeline && gathered['email']">
      <div class="row">
        <div class="col-md-12" *ngIf="timeline && gathered['email']">
            <nb-card size="large" class="border-default" id="timelineResult">
              <nb-card-header>
                TIMELINE
              </nb-card-header>
              <nb-card-body style="overflow: auto;">
      
                <div class="col-md-12">
                  <div class="row example-centered">
                      <div class="col-md-12">
                          <ul class="timeline timeline-centered">
                              <li class="timeline-item" *ngFor="let time of timeline">
                                  <div class="timeline-info">
                                      <span>{{time.date}}</span>
                                  </div>
                                  <div class="timeline-marker"></div>
                                  <div class="timeline-content">
                                      <h3 class="timeline-title">{{time.action}}</h3>
                                      <p *ngIf="time.desc && time.desc != ''">{{time.desc}}</p>
                                  </div>
                              </li>
                          </ul>
                      </div>
                  </div>
                </div>
      
              </nb-card-body>
            </nb-card>
        </div>
      
      </div>
    </nb-card>
  </nb-card-front>

  <nb-card-back>
    <nb-card>
      <nb-card-header>ADVANCED SEARCH</nb-card-header>
      <nb-card-body>
        <div class="form-group row" style="padding-top: 20px; padding-right:20px; margin-bottom: 10px;">
          <label for="inputEmail" class="col-sm-1 col-form-label" nbTooltip="Email address" nbTooltipStatus="primary" style="text-align: center;"><i class="fas fa-envelope fa-2x"></i></label>
          <div class="col-sm-5">
            <input type="text" class="form-control" #email id="email" placeholder="Email" autocomplete="off" style="background-color: rgba(0, 0, 0,0.5); border: none;">
          </div>
          <!-- <div class="col-sm-4">
          </div> -->
          <label for="inputUsername" class="col-sm-1 col-form-label" nbTooltip="Posible Username (Used in sherlock and search module)" nbTooltipStatus="primary" style="text-align: center;"><i class="fas fa-user fa-2x"></i></label>
          <div class="col-sm-5">
            <input type="text" class="form-control" #username id="username" placeholder="Username" autocomplete="off" style="background-color: rgba(0, 0, 0,0.5); border: none;">
          </div>
        </div>
    
        <div class="form-group row" style="padding-top: 10px;padding-right:20px; margin-bottom: 10px;">
          <label for="inputTwitter" class="col-sm-1 col-form-label" nbTooltip="Posible Twitter Account (Used in twitter module)" nbTooltipStatus="primary" style="text-align: center;"><i class="fab fa-twitter-square fa-2x"></i></label>
          <div class="col-sm-3">
            <input type="text" class="form-control" #twitter id="twitter" placeholder="Twitter" autocomplete="off" style="background-color: rgba(0, 0, 0,0.5); border: none;">
          </div>
          <label for="inputInstagram" class="col-sm-1 col-form-label" nbTooltip="Posible Instagram Account (Used in instagram module)" nbTooltipStatus="primary" style="text-align: center;"><i class="fab fa-instagram fa-2x"></i></label>
          <div class="col-sm-3">
            <input type="text" class="form-control" #instagram id="instagram" placeholder="Instagram" autocomplete="off" style="background-color: rgba(0, 0, 0,0.5); border: none;">
          </div>
          <label for="inputLinkedin" class="col-sm-1 col-form-label" nbTooltip="Posible Linkedin Account (Used in linkedin module)" nbTooltipStatus="primary" style="text-align: center;"><i class="fab fa-linkedin fa-2x"></i></label>
          <div class="col-sm-3">
            <input type="text" class="form-control" #linkedin id="linkedin" placeholder="Linkedin" autocomplete="off" style="background-color: rgba(0, 0, 0, 0.5); border: none;">
          </div>
        </div>
    
        <div class="form-group row" style="padding-top: 10px;padding-right:20px; margin-bottom: 10px;">
          <label for="inputGithub" class="col-sm-1 col-form-label" nbTooltip="Posible Github Account (Used in github module)" nbTooltipStatus="primary" style="text-align: center;"><i class="fab fa-github-square fa-2x"></i></label>
          <div class="col-sm-3">
            <input type="text" class="form-control" #github id="github" placeholder="Github" autocomplete="off" style="background-color: rgba(0, 0, 0, 0.5); border: none;">
          </div>
          <label for="inputTiktok" class="col-sm-1 col-form-label" nbTooltip="Posible TikTok Account (Used in tiktok module)" nbTooltipStatus="primary" style="text-align: center;"><i class="fas fa-play-circle fa-2x"></i></label>
          <div class="col-sm-3">
            <input type="text" class="form-control" #tiktok id="tiktok" placeholder="Tiktok - disabled" disabled autocomplete="off" style="background-color: rgba(0, 0, 0, 0.5); border: none;">
          </div>
          <label for="inputTinder" class="col-sm-1 col-form-label" nbTooltip="Posible Tinder Account (Used in tinder module)" nbTooltipStatus="primary" style="text-align: center;"><i class="fas fa-fire fa-2x"></i></label>
          <div class="col-sm-3">
            <input type="text" class="form-control" #tinder id="tinder" placeholder="Tinder - disabled" disabled autocomplete="off" style="background-color: rgba(0, 0, 0, 0.5); border: none;">
          </div>
        </div>

        <div class="form-group row" style="padding-top: 10px;padding-right:20px; margin-bottom: 10px;">
          <label for="inputVenmo" class="col-sm-1 col-form-label" nbTooltip="Posible Venmo Account (Used in venmo module)" nbTooltipStatus="primary" style="text-align: center;"><i class="fab fa-vimeo-v fa-2x"></i></label>
          <div class="col-sm-3">
            <input type="text" class="form-control" #venmo id="venmo" placeholder="Venmo" autocomplete="off" style="background-color: rgba(0, 0, 0, 0.5); border: none;">
          </div>
          <label for="inputReddit" class="col-sm-1 col-form-label" nbTooltip="Posible Reddit Account (Used in reddit module)" nbTooltipStatus="primary" style="text-align: center;"><i class="fab fa-reddit-square fa-2x"></i></label>
          <div class="col-sm-3">
            <input type="text" class="form-control" #reddit id="reddit" placeholder="Reddit" autocomplete="off" style="background-color: rgba(0, 0, 0, 0.5); border: none;">
          </div>
          <label for="inputSpotify" class="col-sm-1 col-form-label" nbTooltip="Posible Spotify Account (Used in spotify module)" nbTooltipStatus="primary" style="text-align: center;"><i class="fab fa-spotify fa-2x"></i></label>
          <div class="col-sm-3">
            <input type="text" class="form-control" #spotify id="spotify" placeholder="Spotify" autocomplete="off" style="background-color: rgba(0, 0, 0, 0.5); border: none;">
          </div>
        </div>

        <div class="form-group row" style="padding-top: 10px;padding-right:20px; margin-bottom: 10px;">
          <label for="inputTwitch" class="col-sm-1 col-form-label" nbTooltip="Posible Twitch Account (Used in twitch module)" nbTooltipStatus="primary" style="text-align: center;"><i class="fab fa-twitch fa-2x"></i></label>
          <div class="col-sm-3">
            <input type="text" class="form-control" #twitch id="twitch" placeholder="Twitch" autocomplete="off" style="background-color: rgba(0, 0, 0, 0.5); border: none;">
          </div>
          <label for="inputKeybase" class="col-sm-1 col-form-label" nbTooltip="Posible Keybase Account (Used in keybase module)" nbTooltipStatus="primary" style="text-align: center;"><i class="fab fa-keybase fa-2x"></i></label>
          <div class="col-sm-3">
            <input type="text" class="form-control" #keybase id="keybase" placeholder="Keybase" autocomplete="off" style="background-color: rgba(0, 0, 0, 0.5); border: none;">
          </div>
          <label for="inputMastodon" class="col-sm-1 col-form-label" nbTooltip="Posible Mastodon Account (Used in mastodon module)" nbTooltipStatus="primary" style="text-align: center;"><i class="fab fa-mastodon fa-2x"></i></label>
          <div class="col-sm-3">
            <input type="text" class="form-control" #mastodon id="mastodon" placeholder="Mastodon" autocomplete="off" style="background-color: rgba(0, 0, 0, 0.5); border: none;">
          </div>
        </div>

      </nb-card-body>
      <nb-card-footer>
          <button nbButton outline status="success" (click)="toggleFlipViewAndSearch(email.value, username.value, twitter.value, instagram.value, linkedin.value, github.value, tiktok.value, tinder.value, venmo.value, reddit.value, spotify.value, twitch.value, keybase.value, mastodon.value)" style="box-shadow: none; border: none; margin-left:30px; font-weight: 400;">
              <i class="fas fa-search" style="padding-right: 5px"></i> SEARCH 
          </button>

          <button nbButton outline status="danger" (click)="toggleFlipView()" style="box-shadow: none; border: none; margin-left:20px; font-weight: 400;">
              <i class="fas fa-times" style="padding-right: 5px"></i> CANCEL 
          </button>
      </nb-card-footer>
    </nb-card>
  </nb-card-back>

</nb-flip-card>