  <div class="row">

    <div class="col-md-4" *ngIf="name?.length > 0">
      <nb-card size="small" class="border-default">
        <nb-card-header>
            <span><i class="fas fa-signature"></i> - </span> Posible Name
        </nb-card-header>
        <nb-card-body id="nbCardProfileName" #nbCardProfileName style="text-align: center; overflow: hidden;">
            <ngx-text-cloud [data]="name"></ngx-text-cloud>
        </nb-card-body>
      </nb-card>
    </div>

    <div class="col-md-8" *ngIf="geo?.length > 0">
      <ngx-profile-map [data]="geo"></ngx-profile-map>
    </div>

    <div class="col-md-4" *ngIf="location?.length > 0">
      <nb-card size="small" class="border-default">
        <nb-card-header>
            <span><i class="fas fa-globe-americas"></i> - </span> Posible Location
        </nb-card-header>
        <nb-card-body id="nbCardProfileLocation" #nbCardProfileLocation style="text-align: center; overflow: hidden;">
            <ngx-text-cloud [data]="location"></ngx-text-cloud>
        </nb-card-body>
      </nb-card>
    </div>

    <div class="col-md-4" *ngIf="usern?.length > 0">
      <nb-card size="small" class="border-default">
        <nb-card-header>
            <span><i class="fas fa-user"></i> - </span> Posible Username
        </nb-card-header>
        <nb-card-body id="nbCardProfileUsername" #nbCardProfileUsername style="text-align: center; overflow: hidden;">
            <ngx-text-cloud [data]="usern"></ngx-text-cloud>
        </nb-card-body>
      </nb-card>
    </div>

    <div class="col-md-4" *ngIf="organization?.length > 0">
      <nb-card size="small" class="border-default">
        <nb-card-header>
            <span><i class="fas fa-sitemap"></i> - </span> Posible Organization
        </nb-card-header>
        <nb-card-body id="nbCardProfileOrganization" #nbCardProfileOrganization style="text-align: center; overflow: hidden;">
            <ngx-text-cloud [data]="organization"></ngx-text-cloud>
        </nb-card-body>
      </nb-card>
    </div>

    <div class="col-md-4" *ngIf="emails?.length > 0">
      <nb-card size="small" class="border-default">
        <nb-card-header>
            <span><i class="fas fa-envelope"></i> - </span> Posible Emails
        </nb-card-header>
        <nb-card-body id="nbCardProfileEmails" #nbCardProfileEmails style="text-align: center; overflow: hidden;">
            <ngx-text-cloud [data]="emails"></ngx-text-cloud>
        </nb-card-body>
      </nb-card>
    </div>

    <div class="col-md-4" *ngIf="phone?.length > 0">
      <nb-card size="small" class="border-default">
        <nb-card-header>
            <span><i class="fas fa-mobile-alt"></i> - </span> Posible Phones
        </nb-card-header>
        <nb-card-body id="nbCardProfilePhone" #nbCardProfilePhone style="text-align: center; overflow: hidden;">
            <ngx-text-cloud [data]="phone"></ngx-text-cloud>
        </nb-card-body>
      </nb-card>
    </div>

    <div class="col-md-4" *ngIf="url?.length > 0">
      <nb-card size="small" class="border-default">
        <nb-card-header>
            <span><i class="fas fa-code"></i> - </span> Posible Urls
        </nb-card-header>
        <nb-card-body id="nbCardProfileUrl" #nbCardProfileUrl style="text-align: center; overflow: hidden;">
            <ngx-text-cloud [data]="url"></ngx-text-cloud>
        </nb-card-body>
      </nb-card>
    </div>

    <div class="col-md-4" *ngIf="bio?.length > 0">
      <nb-card size="small" class="border-default">
        <nb-card-header>
            <span><i class="fas fa-comment-dots"></i> - </span> Bios
        </nb-card-header>
        <nb-card-body id="nbCardProfileBio" #nbCardProfileBio style="text-align: center; overflow: hidden;">
        <!-- <nb-card-body id="nbCardProfileBio" #nbCardProfileBio style="margin: 0px; padding: 0px; text-align: center; overflow: hidden;"> -->
            <ngx-text-scramble [data]="bio"></ngx-text-scramble>
        </nb-card-body>
      </nb-card>
    </div>

  </div>
