<nb-card size="giant">
  <nb-card-header>
    <div class="cameras-card-header">
      <span class="cameras-card-title">Profile Photos</span>
      <span class="cameras-filter">
        <a [class.active]="isSingleView" (click)="isSingleView = true">
          <i class="nb-square"></i>
        </a>
        <a [class.active]="!isSingleView" (click)="isSingleView = false">
          <i class="nb-grid-a"></i>
        </a>
      </span>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="cameras single-view" *ngIf="isSingleView">
        <!-- <div class="camera" [style.background-image]="'url(' + selectedPhoto.picture + ')'"> -->
      <div class="camera" style="text-align: center;">
          <img id="singleImage" height="100%" src="{{selectedPhoto.picture}}" crossorigin=""/>
          <div id="descImage">{{ selectedPhoto.title }}</div>
          <!-- <span>{{ selectedPhoto.title }}</span> -->
      </div>
    </div>
    <div class="cameras" *ngIf="!isSingleView">
      <div class="camera col-sm-4" *ngFor="let p of data" [style.background-image]="'url(' + p.picture + ')'"
           (click)="selectPhoto(p)" crossorigin="anonymous">
        <!-- <img width="100%" [src]="p.picture" crossorigin="anonymous"/> -->
        <!-- <img height="100%" width="100%" [src]="p.picture" crossorigin=""/> -->
        <span style="position: absolute; left: 0px;">{{ p.title }}</span>
        <!-- <div id="descImage">{{ p.title }}</div> -->
      </div>
    </div>
  </nb-card-body>
</nb-card>
