@import '../../@theme/styles/themes';

@include nb-install-component() {

  .fa-stack { font-size: 1.5em; }

  i { 
    vertical-align: middle; 
    margin-right: 10px; 
  }
       
  .contact {
    display: flex;
    color: nb-theme(text-basic-color);
    padding: 1rem;

    border-bottom: 1px solid nb-theme(divider-color);
    border-top: 1px solid nb-theme(divider-color);

  }

  .i-contact {
    font-size: 2rem;
    cursor: pointer;
  }

  .pf-char:before{
      font-family: Arial; /* your font family here! */
      font-weight: bold;
      content: attr(data-char-content);
  }

  .time {
    font-size: 0.875rem;
    font-weight: 300;
    text-transform: uppercase;
  }

  .info-container {
    @include nb-ltr(margin-left, 0.875rem);
    @include nb-rtl(margin-right, 0.875rem);
  }

  .user-name {
    font-family: nb-theme(font-family-primary);
    font-weight: 500;
    color: nb-theme(text-basic-color);
    font-size: 1rem;

  }

  .user-title {
    font-size: 0.875rem;
    font-weight: nb-theme(text-paragraph-font-weight);
  }

  nb-user ::ng-deep {
    .info-container {
      @include nb-ltr(margin-left, 0.875rem);
      @include nb-rtl(margin-right, 0.875rem);
    }

    .user-name {
      font-family: nb-theme(font-family-primary);
      font-weight: nb-theme(text-paragraph-font-weight);
      color: nb-theme(text-basic-color);
      font-size: 1.25rem;

    }

    .user-title {
      font-size: 0.875rem;
      font-weight: 300;
    }
  }
  
  #imagePrincipal {
    // height: calc(#{nb-theme(layout-min-height)} - #{nb-theme(header-height)} - #{nb-theme(footer-height)} - #{nb-theme(header-height)} - #{nb-theme(sidebar-header-gap)}) !important;  
    height: calc(#{nb-theme(layout-min-height)} - #{nb-theme(header-height)} - #{nb-theme(footer-height)} - #{nb-theme(header-height)}) !important;  
  }

  ngx-charts-pie-chart {
    display: block;

    ::ng-deep {
      .pie-label {
        fill: nb-theme(text-basic-color);
      }

      .grid-line-path {
        stroke: nb-theme(divider-color);
      }

      text {
        fill: nb-theme(text-basic-color);
      }

      .chart-legend {
        .legend-labels {
          background: nb-theme(layout-background-color);
        }
        .legend-label {
          color: nb-theme(text-basic-color);
          .active .legend-label-text {
            color: nb-theme(text-basic-color);
          }
        }
      }
    }
  }

}
