<div class="widgets">

  <div class="row">
    <div class="col-md-12">
      <div ba-panel ba-panel-title="API Keys" ba-panel-class="with-scroll black-panel">
        <div class="add-row-editable-table">
          <button class="btn btn-primary" ng-click="addKey()">Add key</button>
        </div>
        <table class="table table-bordered table-hover table-condensed">
          <tr>
            <td></td>
            <td>Service</td>
            <td>Key</td>
            <td style="width: 200px;">Actions</td>
          </tr>
          <tr ng-repeat="k in keys" class="editable-row">
            <td>
                {{$index}}
            </td>
            <td>
                <span editable-text="k.name" e-name="name" e-form="rowform" e-required>
                  {{ k.name || 'empty' }}
                </span>
            </td>
            <td>
                <span editable-text="k.key" e-name="key" e-form="rowform" e-required>
                  {{ k.key || 'empty' }}
                </span>
            </td>
            <td>
              <form editable-form name="rowform" ng-show="rowform.$visible" class="form-buttons form-inline"
                    shown="inserted == k">
                <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary editable-table-button btn-xs">
                  Save
                </button>
                <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default editable-table-button btn-xs">
                  Cancel
                </button>
              </form>
              <div class="buttons" ng-show="!rowform.$visible">
                <button class="btn btn-primary editable-table-button btn-xs" ng-click="rowform.$show()">Edit</button>
                <button class="btn btn-danger editable-table-button btn-xs" ng-click="removeKey($index)">Delete</button>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
        <button class="btn btn-primary btn-block" ng-click="updateKey()">Update keys files</button>
    </div>
  </div>

</div>
